<div class="card card-flush shadow-sm p-0 h-full p-10">
  <h3 class="title-custom fs-20 fw-700">Môn học</h3>

  <div class="d-flex justify-content-between align-items-center mb-5">
    <p>Số môn học theo bộ giáo dục & đào tạo: <span class="fw-700 text-color-blue-light">{{dataList?.total}} môn học</span></p>
    <div class="d-flex">
      <app-button 
        [text]="'Thêm môn học'"
        [startIconName]="iconSvg.plus"
        (onClick)="create()" class="ms-4"
        [backgroundColor]="'bg-color-green'"
       ></app-button>
    </div>
  </div>

  <div class="table table-responsive">
    <table class="table table-custom">
      <thead class="header-color">
        <tr>
          <th class=w-5>STT</th>
          <th>Tên môn học</th>
          <th class="w-5 text-center">#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataList?.data, let i = index">
          <td>{{i+1}}</td>
          <td>{{item.subjectName}}</td>
          <td class="text-center">
            <app-context-menu [text]="iconSvg.three_horizol_dot_icon" [option]="[
              {
                svgIcon: iconSvg.eye_show,
                label: 'Sửa',
                type: '1',
                action: item.subject_id,
                permission: '',
                data: item,
              },
              {
                svgIcon: iconSvg.delete_solid,
                label: 'Xóa',
                type: '2',
                action: item.subject_id,
                permission: '',
                data: item,
              },
            ]" (action)="handleAction($event)"></app-context-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-container *ngIf="!dataList?.data?.length">
      <app-no-data></app-no-data>
    </ng-container>
  </div>
</div>
