.table-custom tr, .table-custom th, .table-custom td{
  border: 1px solid var(--bs-grey);
  padding-left: 10px;
  padding-right: 10px;
}


.header-color{
  background-color: #0078FF;
  color: white;
  font-weight: 700;
}

.title-custom{
  color: #4154F1;
}