<div class="card card-flush shadow-sm p-0 h-full p-10">
  <div class="d-flex justify-content-between align-items-center mb-5">
    <div class="d-flex">
      <span class="fw-700">SỔ ĐIỂM CHI TIẾT</span>
      <span class="ms-4">LỚP: <span class="fw-700">{{className}}</span></span>
      <!-- <span class="ms-4">Môn học: <span class="fw-700">{{dataList?.data?.subject?.name}}</span></span> -->
      <!-- <span class="ms-4">Giáo viên dạy: <span class="fw-700">Nguyễn Tấn Đạt + 0 GV được ủy quyền</span></span>
      <span class="ms-4">Quyền hạn: <span class="fw-700">Bạn là giáo viên bộ môn</span></span> -->
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-5">
    <p>(Ghi chú: sau khi có điểm thi học kỳ hệ thống mới tính điểm TBHK của môn học. Giáo viên giảng dạy chỉ có thể sửa các con điểm chưa bị khóa)</p>
    <app-select
      [options]="optionSubject"
      (changeSelect)="onChangeSubject($event)"
      [width]="'w-200px'"
    ></app-select>
  </div>

  <div class="table table-responsive">
    <table class="table table-custom">
      <thead>
        <tr class="text-color-white text-color-blue-dark">
          <th class="w-5" rowspan="2">STT</th>
          <th rowspan="2">Mã HS</th>
          <th rowspan="2">Họ và tên</th>
          <th rowspan="2">Ngày sinh</th>
          <th rowspan="2">Môn học</th>
          <!-- <th colspan="4" class="text-center">ĐĐGtx</th> -->
           <ng-container *ngFor="let item of dataList?.data?.struct">
            <th class="text-center" colspan="1" rowspan="1" *ngIf="item?.examPeriods?.length==1 || item?.examPeriods?.length==0">
              {{item.examName}}
             </th>
             <th class="text-center" colspan="2" *ngIf="item?.examPeriods?.length==2">
              {{item.examName}}
             </th>
             <th class="text-center" colspan="3" *ngIf="item?.examPeriods?.length==3">
              {{item.examName}}
             </th>
             <th class="text-center" colspan="4" *ngIf="item?.examPeriods?.length==4">
              {{item.examName}}
             </th>
             <th class="text-center" colspan="5" *ngIf="item?.examPeriods?.length==5">
              {{item.examName}}
             </th>
             <th class="text-center" colspan="6" *ngIf="item?.examPeriods?.length==6">
              {{item.examName}}
             </th>
             <th class="text-center" colspan="7" *ngIf="item?.examPeriods?.length==7">
              {{item.examName}}
             </th>
             <th class="text-center" colspan="8" *ngIf="item?.examPeriods?.length==8">
              {{item.examName}}
             </th>
             <th class="text-center" colspan="9" *ngIf="item?.examPeriods?.length==9">
              {{item.examName}}
             </th>
             <th class="text-center" colspan="10" *ngIf="item?.examPeriods?.length==10">
              {{item.examName}}
             </th>
           </ng-container>
        </tr>
        <tr *ngIf="dataList?.data?.struct?.length">
          <ng-container *ngFor="let item of dataList?.data?.struct">
            <th class="text-center" *ngFor="let exam of item.examPeriods">{{exam.examPeriodName}}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of dataList?.data?.data, let i = index">
          <tr *ngFor="let item of dataList?.data?.data, let i = index">
            <td [rowSpan]="item.subjects?.length">
              {{(pageIndex-1)*pageSize + i + 1}}
            </td>
            <td [rowSpan]="item.subjects?.length">
              <span>{{dataStudentDetail?.student_code}}</span> <br/>
            </td>
            <td [rowSpan]="item.subjects?.length">
              <span>{{dataStudentDetail?.fullname}}</span> <br/>
            </td>
            <td [rowSpan]="item.subjects?.length" class="text-center">
              <span>{{dataStudentDetail?.dob | formatTime}}</span>
            </td>
            <ng-container *ngFor="let structs of dataList?.data?.struct">
              <td *ngIf="!structs?.examPeriods?.length">Chưa thi</td>
              <!-- <ng-container *ngFor="let struct of structs?.examPeriods"> -->
                <!-- <ng-container *ngFor="let history of item.subjects, let j = index">
                  <td>{{history.subjectName}}</td>
                  <td class="">
                    <span>{{ findPoint(item.subjects?.[j].points, struct.examPeriodId) }}</span>
                  </td>
                </ng-container> -->
              <!-- </ng-container> -->
            </ng-container>
            <ng-container *ngFor="let structs of dataList?.data?.struct">
              <ng-container *ngFor="let struct of structs?.examPeriods">
                <ng-container *ngFor="let history of item.subjects, let j = index">
                  <tr>
                    <td>{{history.subjectName}}</td>
                    <td class="">
                      <span>{{ findPoint(item.subjects?.[j].points, struct.examPeriodId) }}</span>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <!-- <app-no-data *ngIf="!dataList?.data?.totalItems"></app-no-data> -->
    <!-- <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
      *ngIf="collectionSize > sizeOption[0]" [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
    </app-pagination> -->
  </div>
</div>
