<div class="card card-flush shadow-sm p-0 h-full p-10">
  <h3>Danh sách học sinh</h3>

  <div class="d-flex justify-content-between align-items-center mb-5">
    <app-button-back [routerLink]="'/staff/student'"></app-button-back>
  </div>

  <div class="table table-responsive">
    <h3 class="fs-30">Thông tin học sinh</h3>
    <div class="row m-0 p-0">
        <div class="col-6">
          <div class="row">
            <div class="col-3">Tên học sinh</div>
            <div class="col-9">
              <app-input [value]="dataDetail?.fullname" [disabled]="true"></app-input>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row">
            <div class="col-3">Mã học sinh</div>
            <div class="col-9">
              <app-input [value]="dataDetail?.student_code" [disabled]="true"></app-input>
            </div>
          </div>
        </div>

        <!-- <div class="col-6">
          <div class="row">
            <div class="col-3">Username</div>
            <div class="col-9">
              <app-input [value]="dataDetail?.fullname" [disabled]="true"></app-input>
            </div>
          </div>
        </div> -->

        <div class="col-6">
          <div class="row">
            <div class="col-3">Ngày sinh</div>
            <div class="col-9">
              <app-input [value]="dataDetail?.dob | formatTime" [disabled]="true"></app-input>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row">
            <div class="col-3">Niên khóa</div>
            <div class="col-9">
              <app-input [value]="dataDetail?.current_academic_year_name" [disabled]="true"></app-input>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row">
            <div class="col-3">Lớp học</div>
            <div class="col-9">
              <app-input [value]="dataDetail?.current_class_name" [disabled]="true"></app-input>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row">
            <div class="col-3">Phụ huynh</div>
            <div class="col-9">
              <app-input [value]="dataDetail?.current_class_name?.parents?.name" [disabled]="true"></app-input>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row">
            <div class="col-3">Trạng thái</div>
            <div class="col-9">
              <app-input [value]="dataDetail?.status" [disabled]="true"></app-input>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row">
            <div class="col-3">Địa chỉ</div>
            <div class="col-9">
              <app-input [value]="dataDetail?.address" [disabled]="true"></app-input>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="border-custom my-20"></div>
  <div>
    <div class="d-flex justify-content-between">
      <h3 class="fs-30">Thông tin gia đình học sinh</h3>
      <app-button [text]="'Gán phụ huynh cho học sinh'" (onClick)="assignParent(dataDetail?.id)"></app-button>
    </div>

    <div class="row m-0 p-0">
      <div class="col-6 mb-5">
        <div class="row">
          <div class="col-3">Tên phụ huynh</div>
          <div class="col-9">
            <app-input [value]="dataDetail?.parents[0]?.fullname" [disabled]="true"></app-input>
          </div>
        </div>
      </div>

      <div class="col-6 mb-5">
        <div class="row">
          <div class="col-3">Ngày sinh</div>
          <div class="col-9">
            <app-input [value]="dataDetail?.parents[0]?.dob | formatTime" [disabled]="true"></app-input>
          </div>
        </div>
      </div>

      <div class="col-6 mb-5">
        <div class="row">
          <div class="col-3">Số điện thoại</div>
          <div class="col-9">
            <app-input [value]="dataDetail?.parents[0]?.phone" [disabled]="true"></app-input>
          </div>
        </div>
      </div>

      <div class="col-6 mb-5">
        <div class="row">
          <div class="col-3">Email</div>
          <div class="col-9">
            <app-input [value]="dataDetail?.parents[0]?.email" [disabled]="true"></app-input>
          </div>
        </div>
      </div>

      <div class="col-6 mb-5">
        <div class="row">
          <div class="col-3">Mã phụ huynh</div>
          <div class="col-9">
            <app-input [value]="dataDetail?.parents[0]?.code" [disabled]="true"></app-input>
          </div>
        </div>
      </div>

      <div class="col-6 mb-5">
        <div class="row">
          <div class="col-3">Giới tính</div>
          <div class="col-9">
            <app-input [value]="dataDetail?.parents[0]?.gender" [disabled]="true"></app-input>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="border-custom my-20"></div>
  <h3 class="fs-30 mb-10">Lịch sử học sinh</h3>
  <div *ngFor="let item of dataDetail?.class_history" class="border-bottom-custom pb-5">
    <h4 class="mb-4 fs-18">{{item.school_year_name}}</h4>
    <div *ngFor="let history of item.classes" class="fw-700">
      <img [src]="iconSvg.label_icon" alt=""> Lớp: {{history.class_name}} <span class="mx-10"></span>
      <img [src]="iconSvg.label_icon" alt=""> Trạng thái: <span appStatusClassStudent [statusValue]="history.status"></span> <span class="mx-10"></span>
      <img [src]="iconSvg.calendar" alt=""> Thời gian: {{history.start_date | formatTime}} - <span *ngIf="history.end_date">{{history.end_date | formatTime}} </span> <span *ngIf="!history.end_date">Hiện tại </span>
    </div>
  </div>
</div>
