<div class="card card-flush shadow-sm p-0 h-full p-10">
  <h3>Lịch sử điểm danh của lớp {{dataList?.data?.className}}</h3>

  <app-button-back [routerLink]="'/staff/history_attendance/'+classId" class="mb-5"></app-button-back>

  <br/>
  <div class="d-flex justify-content-between mb-4">
    <p>
      <span>Số lượng học sinh: <span class="text-color-azure fw-700">{{dataList?.data?.totalStudent}} học sinh</span></span> |
      <span>Số học sinh có mặt: <span class="text-color-green fw-700">{{dataList?.data?.toltalStudentAttendance}} học sinh</span></span> |
      <span>Số học sinh vắng mặt: <span class="text-color-red fw-700">{{dataList?.data?.toltalStudentUnPresent}} học sinh</span></span> |
      <span>Số học sinh đi muộn: <span class="text-color-green fw-700">{{dataList?.data?.toltalStudentLate}} học sinh</span></span> |
      <span>Số học sinh nghỉ có phép: <span class="text-color-green fw-700">{{dataList?.data?.toltalStudentUnPresentPer}} học sinh</span></span>
    </p>
    <div class="d-flex">
      <app-button [text]="'Export excel'" (onClick)="exportAsExcel()"></app-button>
    </div>
  </div>

  <div class="table table-responsive">
    <table class="table table-custom">
      <thead>
        <tr>
          <th>STT</th>
          <th>Họ tên</th>
          <th>Ngày sinh</th>
          <th>Giới tinh</th>
          <th>Ghi chú</th>
          <th class="w-10">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataList?.data?.data, let i = index">
          <td>{{i+1}}</td>
          <td>{{item.fullname}} - {{item.student_code}} </td>
          <td>{{item.dob | formatTime}}</td>
          <td>{{item.gender}}</td>
          <td class="w-30">
            <div class="p-5" style="background-color: #DBDBDB;">
              {{item.note}}
            </div>
          </td>
          <td class="text-center p-0 px-10">
              <div appStatusStudentAttendance [statusValue]="item.status"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
