<ng-container *transloco="let t;">
  <!-- CHAT -->
  <div class="d-flex align-items-center" [ngClass]="toolbarButtonMarginClass">
    <!-- begin::Menu wrapper -->
    <div class="btn btn-icon btn-active-light-primary position-relative" [ngClass]="toolbarButtonHeightClass"
         id="kt_drawer_chat_toggle">
    <span class="svg-icon"
          [ngClass]="toolbarButtonIconSizeClass"><img src="{{iconSvg.messenger1_icon}}" alt="" class="svg-icon filter-color-azure"></span>

    </div>
    <!-- end::Menu wrapper -->
  </div>

  <!-- NOTIFICATIONS -->
  <div class="d-flex align-items-center" [ngClass]="toolbarButtonMarginClass">
    <!-- begin::Menu wrapper -->
    <div class="btn btn-icon btn-active-light-primary position-relative" [ngClass]="toolbarButtonHeightClass"
         id="kt_drawer_chat_toggle">
    <!-- <span class="svg-icon"
          [ngClass]="toolbarButtonIconSizeClass"><img src="{{iconSvg.noti1_icon}}" alt="" class="svg-icon filter-color-azure"></span> -->
      <div class="dropdown">
        <button class="border-custom dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{iconSvg.noti1_icon}}" alt="" class="svg-icon filter-color-azure">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li *ngFor="let item of dataList?.data"><a class="dropdown-item">{{item?.data?.title}} - {{item?.created_at | formatTime: "hh:mm dd-MM-yyyy"}}</a></li>
          <li *ngIf="!dataList?.data?.length">Bạn không có thông báo mới!</li>
        </ul>
      </div>
    </div>  
    <!-- end::Menu wrapper -->
  </div>

  <!-- LANGUAGE -->
  <div class="d-flex align-items-center" [ngClass]="toolbarButtonMarginClass">
    <img src="assets/images/png/flag-vi.png" alt="" class="w-25px h-19px border-radius-4px">
  </div>

  <!-- Hello User -->
  <div class="d-flex align-items-center me-2" [ngClass]="toolbarButtonMarginClass">
    <!-- <span class="fw-600 text-color-black fs-14 me-2 cursor-pointer" (click)="onClickLogout()">Đăng xuất</span> -->
    <div class="dropdown">
      <button class="border-custom dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Chào bạn {{fullname}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item fs-12 px-4 pb-4" href="#" [routerLink]="linkProfile">Thông tin tài khoản</a></li>
        <li><span class="dropdown-item fs-12" (click)="onClickLogout()">Đăng xuất</span></li>
      </ul>
    </div>
    <span class="fw-700 text-color-black fs-14">{{user?.fullName}}</span>
  </div>


  <!-- begin::User -->
  <div class="d-flex align-items-center" id="kt_header_user_menu_toggle">
    <!-- <app-user-inner></app-user-inner> -->
  </div>
  <!-- end::User -->

  <ng-container *ngIf="headerLeft === 'menu'">
    <div class="d-flex align-items-center d-lg-none ms-2 me-n3" title="Show header menu">
      <div class="
        btn btn-icon btn-active-light-primary
        w-30px
        h-30px
        w-md-40px
        h-md-40px
      " id="kt_header_menu_mobile_toggle">
        <span class="svg-icon svg-icon-1"><img src="assets/media/icons/duotune/text/txt001.svg" alt=""></span>
      </div>
    </div>
  </ng-container>

</ng-container>
