<div class="card card-flush shadow-sm p-0 h-full p-10">
  <h3>Điểm danh</h3>

  <div class="d-flex justify-content-between align-items-center mb-5">
    <p>
      <!-- <span class="fw-600 me-4">Số lớp đã điểm danh: <span class="fw-700 text-color-green">{{dataList?.totalClassAttendanced}} lớp</span></span>
      <span class="fw-600">Số lớp chưa điểm danh: <span class="fw-700 text-color-red">{{dataList?.totalClassNoAttendance}} lớp</span></span> -->
    </p>
    <div class="d-flex">
      <app-single-date-picker [maxDate]="nowTimestamp" class="me-4" (dataTimeOutput)="onSearchDate($event)"></app-single-date-picker>
      <!-- <app-input-search [width]="'w-250px'" (valueChange)="onSearch($event)"></app-input-search> -->
    </div>
  </div>

  <div class="table table-responsive">
    <table class="table table-custom">
      <thead>
        <tr>
          <th>STT</th>
          <th>Thông tin lớp</th>
          <!-- <th>Ngày điểm danh</th> -->
          <th>Giáo viên chủ nhiệm</th>
          <th>Trạng thái</th>
          <th>Tiết - môn</th>
          <th>Có mặt</th>
          <th class="w-10 text-center">Tình trạng</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of dataArray, let i = index">
          <tr>
            <td [rowSpan]="item?.morning[0]?.length + item?.afternoon[0]?.length + (item?.morning[0]?.length ? 1 : 0) + (item?.afternoon[0]?.length ? 1 : 0)">{{i+1}}</td>
            <td [rowSpan]="item?.morning[0]?.length + item?.afternoon[0]?.length + (item?.morning[0]?.length ? 1 : 0) + (item?.afternoon[0]?.length ? 1 : 0)">
              <span>Tên lớp: {{item.className}}</span> <br/>
            </td>
            <!-- <td [rowSpan]="item?.morning[0]?.length+1 + item?.afternoon[0]?.length+ (item?.morning[0]?.length ? 1 : 0) + (item?.afternoon[0]?.length ? 1 : 0)">
              {{item.dateAttendanced | formatTime}}
            </td> -->
            <!-- <td [rowSpan]="item?.morning[0]?.length+1">
              <span>{{item.fullname}}</span> <br/>
              <span *ngIf="item.email">({{item.email}})</span>
            </td> -->
            <!-- <td>
              <div appStatusClassAttendance [statusValue]="item.status"></div>
              <span *ngIf="item.attendanceBy" class="text-color-red">Bởi: ({{item.attendanceBy}})</span> <br/>
              <span *ngIf="item.attendanceAt">Lúc: ({{item.attendanceAt}})</span>
            </td>
            <td>
              {{item.studentAttendanced}} / {{item.totalStudent}}
            </td>
            <td>
              <app-button
              [text]="'Điểm danh'"
              [backgroundColor]="'bg-color-greenish-teal'"
              [color]="'text-color-white'"
              (onClick)="onChangeSaveAttendancePage(item.classId)"
              ></app-button>
            </td> -->
          </tr>
          <ng-container *ngFor="let data of item.morning[0]">
            <tr>
              <td>
                {{data.fullname}} <br/>
                {{data.email}}
              </td>
              <td>
                <div appStatusClassAttendance [statusValue]="data.checkAttendance"></div>
              </td>
              <td>
                Sáng - Tiết {{data?.tiet}} - {{data?.mon}}
              </td>
              <td>
                {{data?.rollcall?.totalRollCall}} / {{data?.rollcall?.totalStudent}}
              </td>
              <td>
                <app-button
                  [text]="data?.checkAttendance == 1 ? 'Cập nhật' : 'Điểm danh'"
                  [backgroundColor]="data?.checkAttendance == 1 ? 'bg-color-carrot-orange' : 'bg-color-greenish-teal'"
                  [color]="'text-color-white'"
                  (onClick)="onChangeSaveAttendancePage(item.classId, data.idTimetable)"
                ></app-button>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngFor="let dataAfternoon of item.afternoon[0]">
            <tr>
              <td>
                {{dataAfternoon.fullname}} <br/>
                {{dataAfternoon.email}}
              </td>
              <td>
                <div appStatusClassAttendance [statusValue]="dataAfternoon.checkAttendance"></div>
              </td>
              <td>
                Chiều - Tiết {{dataAfternoon?.tiet}} - {{dataAfternoon?.mon}}
              </td>
              <td>
                {{dataAfternoon?.rollcall?.totalRollCall}} / {{dataAfternoon?.rollcall?.totalStudent}}
              </td>
              <td>
                <app-button
                  [text]="dataAfternoon?.checkAttendance == 1 ? 'Cập nhật' : 'Điểm danh'"
                  [backgroundColor]="dataAfternoon?.checkAttendance == 1 ? 'bg-color-carrot-orange' : 'bg-color-greenish-teal'"
                  [color]="'text-color-white'"
                  (onClick)="onChangeSaveAttendancePage(item.classId, dataAfternoon.idTimetable)"
                ></app-button>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
    <div *ngIf="!dataArray?.length">
      <app-no-data></app-no-data>
    </div>
  </div>
</div>
