<div class="card card-flush shadow-sm p-0 h-full p-10">
  <h2 class="hoangdxph-custom fw-700">Danh sách lớp học</h2>

  <div class="d-flex justify-content-between align-items-center mb-5">
    <p>Số lớp học: <span class="text-color-blue-light">{{dataList?.data?.length}} lớp học</span></p>
    <div class="d-flex">
      <app-input-search [width]="'w-250px'" (valueChange)="onSearch($event)"></app-input-search>
    </div>
  </div>

  <div class="table table-responsive">
    <table class="table table-custom">
      <thead class="text-color-white bg-color-blue-light text-center fw-700">
        <tr class="text-color-white ">
          <th class=w-5>STT</th>
          <th>Thông tin lớp học</th>
          <th>Trạng thái</th>
          <th>Chủ nhiệm</th>
          <th>Niên khóa</th>
          <th>Khối học</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr class=" fw-700" *ngFor="let item of dataList?.data, let i = index">
          <td class="text-center fw-700">
            {{(pageIndex-1)*pageSize + i + 1}}
          </td>
          <td>
            <span>{{item.className}}</span> <br/>
          </td>
          <td>
            <div appStatusClass [statusValue]="item.status"></div>
            <!-- <span>{{item.status}}</span> <br/> -->
          </td>
          <td class="text-center">
            <span>{{item.teacher_name}}</span> <br/>
            <span>{{item.teacher_email}}</span>
          </td>
          <td class="text-center">
            <span>{{item.academic_name}}</span> <br/>
            <span>mã: {{item.academic_code}}</span>
          </td>
          <td class="text-center">
            {{item.grade_name}}
          </td>
          <td class="text-center">
            <app-button [text]="'Lịch sử điểm danh'" (onClick)="onChangeDetailPage(item.classId)"></app-button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-no-data *ngIf="!dataList?.data?.length"></app-no-data>
  </div>
</div>
