<div class="card card-flush shadow-sm p-0 h-full p-10">
  <h3>Danh sách lớp học</h3>

  <div class="d-flex justify-content-between align-items-center mb-5">
    <p>Số lớp học: 10</p>
    <div class="d-flex">
      <app-input-search [width]="'w-250px'"></app-input-search>
      <app-button [text]="'Gán môn học vào lớp'" class="ms-4"></app-button>
      <app-button [text]="'Thêm mới'"
      (onClick)="create()"
      class="ms-4"
      [startIconName]="iconSvg.plus"
      [backgroundColor]="'bg-color-greenish-teal'"
      ></app-button>
    </div>
  </div>

  <div class="table table-responsive">
    <table class="table table-custom">
      <thead>
        <tr>
          <th class=w-5>STT</th>
          <th>Thông tin lớp học</th>
          <th>Trạng thái</th>
          <th>Chủ nhiệm</th>
          <th>Niên khóa</th>
          <th>Khối học</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataList, let i = index">
          <td>{{i+1}}</td>
          <td>
            <span>{{item.name}}</span> <br/>
          </td>
          <td>
            <span>{{item.status}}</span> <br/>
          </td>
          <td class="text-center">
            <span>{{item.teacher_name}}</span> <br/>
            <span>{{item.teacher_email}}</span>
          </td>
          <td class="text-center">
            <span>{{item.academic_name}}</span> <br/>
            <span>mã: {{item.academic_code}}</span>
          </td>
          <td class="text-center">
            {{item.grade}}
          </td>
          <td class="text-center">
            <app-context-menu [text]="iconSvg.three_horizol_dot_icon" [option]="[
              {
                svgIcon: iconSvg.eye_show,
                label: 'Xem chi tiết',
                type: '1',
                action: item.id,
                permission: '',
                data: item
              },
              {
                svgIcon: iconSvg.edit,
                label: 'Sửa thông tin',
                type: '2',
                action: item.id,
                permission: '',
                data: item
              },
              {
                svgIcon: iconSvg.edit,
                label: 'Gán GVCN',
                type: '3',
                action: item.id,
                permission: '',
                data: item
              },
              {
                svgIcon: iconSvg.edit,
                label: 'Gán học sinh vào lớp',
                type: '4',
                action: item.id,
                permission: '',
                data: item
              },
              {
                svgIcon: iconSvg.delete_solid,
                label: 'Xóa',
                type: '5',
                action: item.id,
                permission: '',
                data: item
              },
            ]" (action)="handleAction($event)"></app-context-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
