<div class="card card-flush shadow-sm p-0 h-full p-10">
  <!-- <div class="d-flex justify-content-end align-items-center bg-color-white-smoke">
    <app-button class="me-5" [text]="'Bài thi'" [backgroundColor]="tabActive==1 ? 'bg-color-azure' : 'bg-color-white-smoke'" [color]="tabActive==1 ? 'text-color-white' : 'text-color-black'" [borderClass]="'border'" (onClick)="onChangePage(1)"></app-button>
    <app-button [text]="'Đợt thi'" [backgroundColor]="tabActive==2 ? 'bg-color-azure' : 'g-color-white-smoke'" [color]="tabActive==2 ? 'text-color-white' : 'text-color-black'" [borderClass]="'border'" (onClick)="onChangePage(2)"></app-button>
  </div> -->

  <div class="mt-10"></div>
  <h3 *ngIf="tabActive==1">Danh sách cột điểm</h3>
  <!-- <h3 *ngIf="tabActive==2">Danh sách Đợt thi</h3> -->

  <div class="d-flex justify-content-between align-items-center mb-5">
    <p>Số cột điểm đang có: <span class="text-color-blue-light">{{dataList?.data?.total || 0}}</span></p>
    <div class="d-flex">
      <!-- <app-input-search [width]="'w-250px'" (valueChange)="onSearch($event)"></app-input-search> -->
      <app-button [text]="'Thêm cột điểm'"
      class="ms-4"
      [startIconName]="iconSvg.plus"
      [backgroundColor]="'bg-color-greenish-teal'"
      (onClick)="create()"
      ></app-button>
      <app-button [text]="'Thêm đầu điểm'"
      class="ms-4"
      [startIconName]="iconSvg.plus"
      [backgroundColor]="'bg-color-greenish-teal'"
      (onClick)="createExamTimes()"
      ></app-button>
    </div>
  </div>

  <div class="table table-responsive">
    <table class="table table-custom">
      <thead>
        <tr class="text-color-white text-color-blue-dark">
          <th class=w-5>STT</th>
          <th>Tên bài thi</th>
          <th>năm học</th>
          <th>Hệ số điểm</th>
          <th>Đợt thi</th>
          <th class="w-150px">#</th>
          <th class="w-150px">#</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of dataList?.data?.data, let i = index">
          <tr>
            <td [attr.rowSpan]="item?.examPeriod?.length+1 || 1">{{i+1}}</td>
            <td [attr.rowSpan]="item?.examPeriod?.length+1 || 1">{{item.name}}</td>
            <td [attr.rowSpan]="item?.examPeriod?.length+1 || 1">{{item.schoolYear}}</td>
            <td [attr.rowSpan]="item?.examPeriod?.length+1 || 1">{{item.point}}</td>
            <td [attr.rowSpan]="1">
              <span *ngIf="item.examPeriod?.length > 0">{{item.examPeriod[0].name}}</span>
            </td>
            <td >
              <app-button 
              [text]="'Sửa đợt thi'" 
              [width]="'w-150px'" 
              (onClick)="updateTimes(item.examPeriod[0],item.id)"
              *ngIf="item.examPeriod?.length > 0"
              ></app-button>
            </td>
            <td [attr.rowSpan]="item?.examPeriod?.length+1 || 1">
              <app-button [text]="'Sửa bài thi'" [width]="'w-150px'" (onClick)="update(item)"></app-button>
            </td>
          </tr>
          <tr *ngFor="let exam of item.examPeriod, let j = index">
            <td [rowSpan]="1" *ngIf="j > 0">
              {{exam.name}}
            </td>
            <td [rowSpan]="1" *ngIf="j > 0">
              <app-button [text]="'Sửa đợt thi'" [width]="'w-150px'" (onClick)="updateTimes(exam, item.id)"></app-button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <app-no-data *ngIf="!dataList?.data?.data"></app-no-data>
    <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
      *ngIf="collectionSize > sizeOption[0]" [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
    </app-pagination>
  </div>
</div>
