<ng-container *ngIf="formControlNameInput">
  <div *ngIf="formGroupInput" [formGroup]="formGroupInput">
    <input appNumberFormat appNumericOnly [min]="min" [max]="max" [ngStyle]="{'background-color':bgColor,'color':color,'font-weight':fontWeight}"
      [formControlName]="formControlNameInput" [type]="type"
      class="form-control {{ fontSize }} {{ textCenter ? 'text-center' : '' }} {{ height }} {{ width }} {{ showBorder ? '' : 'border-0' }}" [placeholder]="placeholder"
      [value]="value" [readOnly]="disabled" (keyup)="onInputChange($event)"
      [class.is-invalid]="formGroupInput.get(formControlNameInput)?.invalid && (formGroupInput.get(formControlNameInput)?.dirty || formGroupInput.get(formControlNameInput)?.touched)"
      [class.is-invalid-server]="validateFormServer?.hasOwnProperty('message') && formGroupInput.get(formControlNameInput)?.invalid" />
    <ng-container *ngFor="let validate of validateForm">
      <ng-container
        *ngIf="formGroupInput.get(formControlNameInput)?.hasError(validate.type) && (formGroupInput.get(formControlNameInput)?.touched || formGroupInput.get(formControlNameInput)?.dirty)">
        <app-field-error-display
          [displayError]="formGroupInput.get(formControlNameInput)?.hasError(validate.type) && (formGroupInput.get(formControlNameInput)?.touched || formGroupInput.get(formControlNameInput)?.dirty)"
          [errorMsg]="validate.message">
        </app-field-error-display>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="validateFormServer">
      <app-field-error-display [errorServer]="validateFormServer"
        [displayErrorServer]="(formGroupInput.get(formControlNameInput)?.dirty || formGroupInput.get(formControlNameInput)?.touched)">
      </app-field-error-display>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="!formControlNameInput">
  <input appNumberFormat #ipNumber [min]="min" [max]="max" [class.is-invalid]="isShowError" [ngStyle]="{'background-color':bgColor,'color':color,'font-weight':fontWeight}" [type]="type"
      class="form-control {{ fontSize }} {{ textCenter ? 'text-center' : '' }} {{ height }} {{ width }} {{ showBorder ? '' : 'border-0' }}" [placeholder]="placeholder"
      [value]="value" [readOnly]="disabled" (keyup)="onInputChange($event)" [attr.maxlength]="maxLength" />
</ng-container>
