<div class="row p-10">

  <div class="col-12 w-100">
    <h3 class="text-color-azure fw-700"><i class="fa fa-calendar-alt fs-20px-custom"></i> DỮ LIỆU TRONG NGÀY 
      <i class="fa fa-arrow-up text-color-azure fs-15 ps-3 cursor-pointer" (click)="onShow(4)" *ngIf="onShowClassDay"></i>
      <i class="fa fa-arrow-down text-color-azure fs-15 ps-3 cursor-pointer" (click)="onShow(1)" *ngIf="!onShowClassDay"></i>
    </h3>

    <div class="row" *ngIf="onShowClassDay">
      <div class="col-4 pe-10 mb-5" *ngFor="let item of dataTeacherDay?.data">
        <div class="bg-color-aqua p-10">
          <p class="text-color-azure fw-700">{{item.class_name}}</p>
          <p class="fw-700 fs-11">Có mặt | Nghỉ có phép | Nghỉ không phép | Đi muộn</p>
          <p>
            <span class="fw-700 fs-14 text-color-green">{{item.allAttendances}}</span> học sinh | 
            <span class="fw-700 fs-14 text-color-green">{{item.allunpresentper}}</span> học sinh | 
            <span class="fw-700 fs-14 text-color-green">{{item.allUnattend}}</span> học sinh | 
            <span class="fw-700 fs-14 text-color-green">{{item.allLate}}</span> học sinh
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 w-100">
    <h3 class="text-color-azure fw-700"><i class="fa fa-calendar-alt fs-20px-custom"></i> DỮ LIỆU TRONG TUẦN 
      <i class="fa fa-arrow-up text-color-azure fs-15 ps-3 cursor-pointer" (click)="onShow(5)" *ngIf="onShowClassWeek"></i>
      <i class="fa fa-arrow-down text-color-azure fs-15 ps-3 cursor-pointer" (click)="onShow(2)" *ngIf="!onShowClassWeek"></i>
    </h3>

    <div class="row" *ngIf="onShowClassWeek">
      <div class="col-4 pe-10 mb-5" *ngFor="let item of dataTeacherWeek?.data">
        <div class="bg-color-aqua p-10">
          <p class="text-color-azure fw-700">{{item.class_name}}</p>
          <p class="fw-700 fs-11">Có mặt | Nghỉ có phép | Nghỉ không phép | Đi muộn</p>
          <p>
            <span class="fw-700 fs-14 text-color-green">{{item.allAttendances}}</span> học sinh | 
            <span class="fw-700 fs-14 text-color-green">{{item.allunpresentper}}</span> học sinh | 
            <span class="fw-700 fs-14 text-color-green">{{item.allUnattend}}</span> học sinh | 
            <span class="fw-700 fs-14 text-color-green">{{item.allLate}}</span> học sinh
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 w-100">
    <h3 class="text-color-azure fw-700"><i class="fa fa-calendar-alt fs-20px-custom"></i> DỮ LIỆU TRONG THÁNG
      <i class="fa fa-arrow-up text-color-azure fs-15 ps-3 cursor-pointer" (click)="onShow(6)" *ngIf="onShowClassMonth"></i>
      <i class="fa fa-arrow-down text-color-azure fs-15 ps-3 cursor-pointer" (click)="onShow(3)" *ngIf="!onShowClassMonth"></i>
    </h3>

    <div class="row" *ngIf="onShowClassMonth">
      <div class="col-4 pe-10 mb-5" *ngFor="let item of dataTeacherMonth?.data">
        <div class="bg-color-aqua p-10">
          <p class="text-color-azure fw-700">{{item.class_name}}</p>
          <p class="fw-700 fs-11">Có mặt | Nghỉ có phép | Nghỉ không phép | Đi muộn</p>
          <p>
            <span class="fw-700 fs-14 text-color-green">{{item.allAttendances}}</span> học sinh | 
            <span class="fw-700 fs-14 text-color-green">{{item.allunpresentper}}</span> học sinh | 
            <span class="fw-700 fs-14 text-color-green">{{item.allUnattend}}</span> học sinh | 
            <span class="fw-700 fs-14 text-color-green">{{item.allLate}}</span> học sinh
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row p-10">
  <div class="col-6">
    <h3 class="text-color-azure fw-700"><i class="fa fa-calendar-alt fs-20px-custom"></i> CHUYÊN CẦN</h3>
    <div class="row">
      <div class="col-6 pe-10">
        <div class="bg-color-aqua p-10">
          <p class="fw-700">Nghỉ có phép</p>
          <p><span class="fw-700 fs-18 text-color-green">0</span> học sinh</p>
        </div>
      </div>
      <div class="col-6">
        <div class="bg-color-pink-light p-10">
          <p class="fw-700">Nghỉ không phép</p>
          <p><span class="fw-700 fs-18 text-color-pink-text">0</span> học sinh</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 ps-10">
    <h3 class="text-color-azure fw-700"><i class="fa fa-trophy fs-20px-custom"></i> KHEN THƯỞNG VÀ DANH HIỆU</h3>
    <div class="row">
      <div class="col-6 bg-color-orange p-10">
        <div class="d-flex align-items-top">
          <i class="fa fa-trophy fs-36px-custom pt-3"></i>
          <div class="ps-5">
            <p class="fw-700">Danh hiệu:</p>
            <p>Chưa xét</p>
          </div>
        </div>
      </div>
      <div class="col-6 bg-color-orange p-10">
        <div class="d-flex align-items-top">
          <i class="fa fa-trophy fs-36px-custom pt-3"></i>
          <div class="ps-5">
            <p class="fw-700">Khen thưởng khác:</p>
            <p>không có</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <h3 class="mt-10 fw-700 text-color-azure"><i class="fa fa-calendar-alt fs-20px-custom"></i> Bảng điểm</h3>

    <div class="table-responsive">
      <table class="table table-row-bordered table-row-gray-300">
        <caption></caption>
        <thead>
          <tr class="fs-14 fw-700 text-color-black bg-color-orange">
            <th class="w-10">Môn học</th>
            <th class="w-50 ps-20">Nhận xét của giáo viên</th>
            <th class="w-20 text-center"> Kiểm tra định kỳ </th>
            <th class="w-20 text-center"> Mức đạt </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center">5</td>
            <td class="text-center">H</td>
          </tr>
          <tr class="bg-color-white-smoke">
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center">5</td>
            <td class="text-center">H</td>
          </tr>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center">5</td>
            <td class="text-center">H</td>
          </tr>
          <tr class="bg-color-white-smoke">
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center">5</td>
            <td class="text-center">H</td>
          </tr>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center">5</td>
            <td class="text-center">H</td>
          </tr>
          <tr class="bg-color-white-smoke">
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center">5</td>
            <td class="text-center">H</td>
          </tr>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center">5</td>
            <td class="text-center">H</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12">
    <h3 class="mt-10 fw-700 text-color-azure"><i class="fa fa-calendar-alt fs-20px-custom"></i> ĐÁNH GIÁ NĂNG LỰC - PHẨM CHẤT</h3>

    <h3>NĂNG LỰC</h3>
    <div class="table-responsive">
      <table class="table table-row-bordered table-row-gray-300">
        <caption></caption>
        <thead>
          <tr class="fs-14 fw-700 text-color-black bg-color-orange">
            <th class="w-10">Năng lực chung</th>
            <th class="w-50 ps-20">Nhận xét của giáo viên</th>
            <th class="w-20 text-center"> Mức đạt </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="">Hợp tác</td>
            <td class="ps-20">Biết lắng nghe người khác, biết chia sẻ giúp đỡ với bạn bè</td>
            <td class="text-center text-color-azure fw-700">H</td>
          </tr>
          <tr class="bg-color-white-smoke">
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center text-color-azure fw-700">H</td>
          </tr>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center text-color-azure fw-700">H</td>
          </tr>
          <tr class="bg-color-white-smoke">
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center text-color-azure fw-700">H</td>
          </tr>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center text-color-azure fw-700">H</td>
          </tr>
          <tr class="bg-color-white-smoke">
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center text-color-azure fw-700">H</td>
          </tr>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center text-color-azure fw-700">H</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12">
    <div class="d-flex border-custom px-10 py-5 align-items-center">
      <i class="fa fa-comment fs-20px-custom"></i>
      <div class="ps-5">
        <p class="text-color-azure mb-0">Nhận xét chung</p>
        <p>Em có khả năng tự thực hiện các nhiệm vụ học tập</p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <h3 class="mt-10"><i class="fa fa-calendar-alt fs-20px-custom"></i> PHẨM CHẤT</h3>
    <div class="table-responsive">
      <table class="table table-row-bordered table-row-gray-300">
        <caption></caption>
        <thead>
          <tr class="fs-14 fw-700 text-color-black bg-color-orange">
            <th class="w-10">Năng lực chung</th>
            <th class="w-50 ps-20">Nhận xét của giáo viên</th>
            <th class="w-20 text-center"> Mức đạt </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="">Hợp tác</td>
            <td class="ps-20">Biết lắng nghe người khác, biết chia sẻ giúp đỡ với bạn bè</td>
            <td class="text-center text-color-azure fw-700">H</td>
          </tr>
          <tr class="bg-color-white-smoke">
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center text-color-azure fw-700">H</td>
          </tr>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center text-color-azure fw-700">H</td>
          </tr>
          <tr class="bg-color-white-smoke">
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center text-color-azure fw-700">H</td>
          </tr>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center text-color-azure fw-700">H</td>
          </tr>
          <tr class="bg-color-white-smoke">
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center text-color-azure fw-700">H</td>
          </tr>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td class="text-center text-color-azure fw-700">H</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12">
    <div class="d-flex border-custom align-items-center px-10 py-5">
      <i class="fa fa-comment fs-20px-custom"></i>
      <div class="ps-5">
        <p class="text-color-azure mb-0">Nhận xét chung</p>
        <p>Em có khả năng tự thực hiện các nhiệm vụ học tập</p>
      </div>
    </div>
  </div>

  <h3 class="mt-10 text-color-azure fw-700"><i class="fa fa-calendar-alt fs-20px-custom"></i> XÉT HOÀN THÀNH CHƯƠNG TRÌNH LỚP HỌC</h3>
  <div class="col-4">
    <div class="bg-color-white-smoke px-10 h-75px pt-5 fw-700">
      Hoàn thành chương trình tiểu học
    </div>
  </div>
</div> -->