.border-custom{
    border: 2px solid #47C3B7;
    border-radius: 10px;
    box-shadow: 5px 4px #47C3B7;
  }
  
  .fs-20px-custom{
    font-size: 20px;
  }
  
  .fs-36px-custom{
    font-size: 36px;
  }
  