<ng-container *ngIf="formControlNameInput">
  <div *ngIf="formGroupInput" [formGroup]="formGroupInput">
    <div class="position-relative">
      <input [type]="checkShow ? 'text' : 'password'" class="form-control form-control-lg form-control-solid fs-13 h-37px" [placeholder]="placeholder" [readOnly]="disabled" autocomplete="off"
        [value]="value" [formControlName]="formControlNameInput" (change)="onInputChange($event)"
        [class.is-invalid]="formGroupInput.get(formControlNameInput).invalid && (formGroupInput.get(formControlNameInput).dirty || formGroupInput.get(formControlNameInput).touched)" />
      <img class="icon-password"
        [src]="checkShow ? 'assets/images/svg/eye_hide.svg' : 'assets/images/svg/eye_show.svg'" alt=""
        (click)="togglePassword()">
    </div>
    <ng-container *ngFor="let validate of validateForm">
      <app-field-error-display
        [displayError]="formGroupInput.get(formControlNameInput).hasError(validate.type) && (formGroupInput.get(formControlNameInput).touched || formGroupInput.get(formControlNameInput).dirty)"
        [errorMsg]="validate.message">
      </app-field-error-display>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="!formControlNameInput">
  <div class="position-relative">
    <input [type]="checkShow ? 'text' : 'password'" class="form-control form-control-lg form-control-solid fs-13 h-37px" [placeholder]="placeholder" [readOnly]="disabled" autocomplete="off"
      [value]="value" (change)="onInputChange($event)" />
    <img class="icon-password"
      [src]="checkShow ? 'assets/images/svg/eye_hide.svg' : 'assets/images/svg/eye_show.svg'" alt=""
      (click)="togglePassword()">
  </div>
</ng-container>
