<div class="card card-flush shadow-sm p-0 h-full p-10">
  <h2 class="hoangdxph-custom fw-700">Danh sách niên khóa</h2>

  <div class="d-flex justify-content-between align-items-center mb-5">
    <h4>Số niên khóa: <span class="text-color-blue-light">{{dataList?.data?.total}} niên khóa</span></h4>
    <div class="d-flex">
      <app-input-search [width]="'w-250px'" (valueChange)="onSearchValue($event)"></app-input-search>
      <app-button [text]="'Thêm mới'"
      (onClick)="create()"
      class="ms-4"
      [startIconName]="iconSvg.plus"
      [backgroundColor]="'bg-color-greenish-teal'"
      ></app-button>
    </div>
  </div>

  <div class="table table-responsive">
    <table class="table table-custom">
      <thead class="bg-color-blue-light text-color-white fw-700">
        <tr>
          <th class=w-5>STT</th>
          <th>Thông tin niên khóa</th>
          <th>Trạng thái</th>
          <th>Thời gian bắt đầu</th>
          <th>Thời gian kết thúc</th>
          <!-- <th>Khối học hiện tại</th> -->
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr  class="text-center fw-700" *ngFor="let item of dataList?.data?.data, let i = index">
          <td>{{i+1}}</td>
          <td>
            <span>{{item.name}}</span> <br/>
            <span>Mã: {{item.code}}</span>
          </td>
          <td >
            <span appStatusSchoolYear [statusValue]="item.status" class="fw-700 fs-13"></span> <br/>
          </td>
          <td class="text-center">
            {{item.start_year | formatTime}}
          </td>
          <td class="text-center">
            {{item.end_year | formatTime}}
          </td>
          <!-- <td class="text-center">
            {{item.gradeName}}
          </td> -->
          <td class="text-center">
            <app-context-menu [text]="iconSvg.three_horizol_dot_icon" [option]="[
              {
                svgIcon: iconSvg.edit,
                label: 'Sửa thông tin',
                type: '2',
                action: item.id,
                permission: '',
                data: item
              },
              {
                svgIcon: iconSvg.delete_solid,
                label: 'Xóa',
                type: '3',
                action: item.id,
                permission: '',
                data: item,
                isHide: item.status != statusAcademic.NOT_STARTED_YET
              },
            ]" (action)="handleAction($event)"></app-context-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <app-no-data *ngIf="!dataList?.data?.data?.length"></app-no-data>
  </div>
</div>
