.table-custom tr, .table-custom th, .table-custom td{
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}
.headerr-hoangdxph-custom{
  background-color: #0078FF;
  color: white;
  font-weight: bold;
  text-align: left;
}
.hoangdxph-custom{
  color: #4154F1;
}
