<div class="card card-flush shadow-sm p-0 h-full p-10">
  <h3>Danh sách môn học</h3>

  <div class="d-flex justify-content-between align-items-center mb-5">
    <app-button-back></app-button-back>
  </div>

  <div class="row">
    <div class="col-6 col-lg-6 col-md-12 bg-color-white-smoke py-8">
      <h3 clas="fs-20">Lớp học</h3>
      <div class="bg-color-white d-flex justify-content-between align-items-center p-4">
        <span>6a3</span>
        <input type="radio"/>
      </div>
      <div class="bg-color-white d-flex justify-content-between align-items-center p-4 mt-4">
        <span>6a3</span>
        <input type="radio"/>
      </div>
      <div class="bg-color-white d-flex justify-content-between align-items-center p-4 mt-4">
        <span>6a3</span>
        <input type="radio"/>
      </div>
      <div class="bg-color-white d-flex justify-content-between align-items-center p-4 mt-4">
        <span>6a3</span>
        <input type="radio"/>
      </div>
      <div class="bg-color-white d-flex justify-content-between align-items-center p-4 mt-4">
        <span>6a3</span>
        <input type="radio"/>
      </div>
      <div class="bg-color-white d-flex justify-content-between align-items-center p-4 mt-4">
        <span>6a3</span>
        <input type="radio"/>
      </div>
    </div>

    <div class="col-6 col-lg-6 col-md-12 bg-color-white-smoke py-8">
      <h3 clas="fs-20">Môn học</h3>
      <div class="bg-color-white d-flex justify-content-between align-items-center p-4">
        <span>Văn</span>
        <input type="checkbox"/>
      </div>
      <div class="bg-color-white d-flex justify-content-between align-items-center p-4 mt-4">
        <span>Toán</span>
        <input type="checkbox"/>
      </div>
      <div class="bg-color-white d-flex justify-content-between align-items-center p-4 mt-4">
        <span>Anh</span>
        <input type="checkbox"/>
      </div>
      <div class="bg-color-white d-flex justify-content-between align-items-center p-4 mt-4">
        <span>Sử</span>
        <input type="checkbox"/>
      </div>
      <div class="bg-color-white d-flex justify-content-between align-items-center p-4 mt-4">
        <span>6a3</span>
        <input type="checkbox"/>
      </div>
      <div class="bg-color-white d-flex justify-content-between align-items-center p-4 mt-4">
        <span>6a3</span>
        <input type="checkbox"/>
      </div>
    </div>
  </div>
</div>
