.icon-search-right {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 15px;
  height: 15px;
}

.icon-search-left {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
}
