<div class="card card-flush shadow-sm p-0 h-full p-10">
  <h3>Thống kê điểm danh</h3>

  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column">
      <p>Số lượng: <span class="text-color-azure">23 lớp</span></p>
      <app-button-back [routerLink]="'/staff/list_attendance_statistic'"></app-button-back>
    </div>
    <div class="d-flex mb-5">
      <!-- <app-select [options]="dataOptionsStatus" class="me-4" [width]="'w-200px'"></app-select>
      <app-input-search [width]="'w-250px'"></app-input-search> -->
      <!-- <app-single-date-picker (dataTimeOutput)="onChangeDate($event)"></app-single-date-picker> -->
      <app-range-date-picker
      [startDate]="nowTimestamp"
      [endDate]="endDate"
      [minDate]="minDateSearch"
      [maxDate]="maxDateSearch"
      (dataTimeOutput)="onChangeDate($event)"
      ></app-range-date-picker>
      <app-select [options]="dataOptionsStatus" class="ms-4" [width]="'w-200px'" (changeSelect)="changeTimes($event)"></app-select>
    </div>
  </div>

  <p class="mt-5 bg-color-white-smoke fw-700 p-5">
    <span>P: có mặt</span>
    <span class="ms-4">A: Nghỉ không phép ,</span> 
    <span class="ms-4">LI: Nghỉ có phép,</span> 
    <span class="ms-4">L: đi muộn</span> 
    <span class="ms-4">...: không điểm danh </span>
  </p>
  <div class="panel panel-default">
    <div class="table table-responsive center-block fix-width scroll-inner">
      <!-- <div class="table table-striped"> -->
      <div class="">
      <table class="table table-full-bordered">
        <thead>
          <tr>
            <th rowspan="3" class="w-3 text-center">STT</th>
            <th rowspan="3" class="w-100px">Mã học sinh</th>
            <th rowspan="3" class="w-150px">Họ và tên</th>
            <th colspan="4" class="w-15 text-center">Tổng số thống kê</th>
            <ng-container *ngFor="let item of dataDateMonth">
              <th [rowSpan]="!item?.data.length ? 2 : 1" [colSpan]="item?.data.length" class="w-250px text-center">{{item.date}}</th>              
            </ng-container>
          </tr>
          <tr>
            <th rowspan="2" class="text-center">P</th>
            <th rowspan="2" class="text-center">A</th>
            <th rowspan="2" class="text-center">LI</th>
            <th rowspan="2" class="text-center">L</th>
          </tr>
          <tr>
            <ng-container *ngFor="let item of dataDateMonth">
              <ng-container *ngFor="let period of item.data">
                <th class="w-50px text-center">Tiết {{period.period}}</th>
              </ng-container>
              <th class="w-50px text-center" *ngIf="!item?.data?.length">...</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataList, let i = index">
            <td class="text-center">{{i+1}}</td>
            <td>{{item.student_code}}</td>
            <td>{{item.student_name}}</td>
            <td>{{item.total_present}}</td>
            <td>{{item.total_absent}}</td>
            <td>{{item.total_licensed}}</td>
            <td>{{item.total_late}}</td>
            <ng-container *ngFor="let date of item.data">
              <td *ngFor="let period of date.data">
                <div appStatusStudent [statusValue]="period.status"></div>
                <!-- {{date.status}} -->
              </td>
              <td class="w-50px text-center" *ngIf="!date?.data?.length">...</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
