.table-custom tr, .table-custom th, .table-custom td{
    border-bottom: 1px solid rgb(228, 213, 213);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  