<form action="" [formGroup]="formGroup" *transloco="let t; scope: 'role'">
  <div class="modal-header">
    <h5 class="title-modal-global text-center">{{dataModal?.titleModal}}</h5>
    <button type="button" class="close modal-btn-close" data-dismiss="modal" (click)="closeModal(false)"
      name="icon-close" [hidden]="dataModal?.isHiddenBtnClose">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-normal-global">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-6">
        <div class="form-group so-form-group">
          <label  class="fw-600">Môn học <span class="text-danger">*</span></label>
          <app-select
          [options]="optionSubjects"
          [formGroupInput]="formGroup"
          [formControlNameInput]="'subject'"
          [validateForm]="validationMessages.subject"
          [disabled]="dataFromParent.nameForm == 'update'"
           ></app-select>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <app-button [width]="'w-80px'" [text]="'Hủy'" [backgroundColor]="'bg-color-white-lilac'" [color]="'text-color-river-bed'" (click)="closeModal(false)"></app-button>
    <app-button [width]="'w-80px'" [text]="'Lưu'" [backgroundColor]="'bg-color-azure'" (click)="submit(formGroup.value)"></app-button>
  </div>
</form>

