<ng-container class="modal-import" *transloco="let t; scope: 'parent'">
  <div class="modal-header border-none">
    <h5 class="title-modal-global fw-700 ">Import dữ liệu từ file excel</h5>
    <button type="button" class="close modal-btn-close" data-dismiss="modal" (click)="closeModal(false)"
            [hidden]="dataModal?.isHiddenBtnClose">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="fw-600 text-danger">Lưu ý:</p>
    <p class="fw-600">
      - Thao tác nhập dữ liệu thời khóa biểu từ file excel, hệ thống sẽ thực hiện các thao tác:<br>
      - 1. Dữ liệu thao tác sẽ chỉ nhận khi import dữ liệu đúng định dạng và các ô cho phép trong file excel mẫu<br>
      - 2. Nếu đã tồn tại thông tin học sinh trên hệ thống sẽ loại bỏ học sinh đấy khi thêm
    </p>
    <div class="row mt-4">
      <label class="col-sm-2 col-form-label fw-600">Định dạng file</label>
      <div class="col-sm-6 px-0 input-import-modal">
        <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" hidden
               id="input-file-upload-parent" class="form-control so-form-control" (change)="onFileChange($event)">
        <img src="assets/images/svg/icon-excel.svg" class="image-upload-import-custom cursor-pointer">
        <div class="cursor-pointer" (click)="uploadFile()">
          <app-input class="cursor-pointer" [disabled]="true" [value]="fileName" [placeholder]="'Vui lòng chọn file import'"></app-input>
        </div>
        <span class="span-image-upload-import-custom fw-600 d-flex justify-content-center align-items-center"
              (click)="uploadFile()">
          <img src="/assets/images/svg/import6.svg" class="filter-color-azure">
          Click to upload
        </span>
      </div>

      <div class="col-sm-4 d-flex justify-content-end">
        <a (click)="exportTimetable()"
           type="text/plain"
           class="so-btn bg-color-carrot-orange text-color-white so-btn-primary--small btn-download-sample-files me-2" >
          <img src="assets/images/svg/export.svg" alt="icon" class="filter-color-white me-3">
          Tải file mẫu
        </a>
      </div>
    </div>
  </div>
  <div class="modal-footer border-none d-flex justify-content-center">
    <app-button [otherClass]="'so-btn btn-confirm-import-custom'" [disabled]="!file" [text]="'Xác nhận'" (onClick)="onFileChangConfirm()"></app-button>
  </div>
</ng-container>
