<div class="row p-10">
  <div class="col-6">
    <h3 class="text-color-azure fw-700">CHUYÊN CẦN</h3>
    <div class="row">
      <div class=col-6>
        <p>Nghỉ có phép</p>
        <p><span>0</span> buổi</p>
      </div>
      <div class=col-6>
        <p>Nghỉ có phép</p>
        <p><span>0</span> buổi</p>
      </div>
    </div>
  </div>

  <div class="col-6">
    <h3 class="text-color-azure fw-700">KHEN THƯỞNG VÀ DANH HIỆU</h3>
    <div class="row">
      <div class="col-6">
        <p>Danh hiệu</p>
        <p>Chưa xét</p>
      </div>
      <div class="col-6">
        <p>Khen thưởng khác:</p>
        <p>không có</p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <h3>Bảng điểm</h3>

    <div class="table-responsive">
      <table class="table table-row-bordered table-row-gray-300">
        <caption></caption>
        <thead>
          <tr class="fs-14 fw-700 text-color-black">
            <th class="w-10">Môn học</th>
            <th class="w-50 ps-20">Nhận xét của giáo viên</th>
            <th class="w-20"> Kiểm tra định kỳ </th>
            <th class="w-20"> Mức đạt </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td>5</td>
            <td>H</td>
          </tr>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td>5</td>
            <td>H</td>
          </tr>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td>5</td>
            <td>H</td>
          </tr>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td>5</td>
            <td>H</td>
          </tr>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td>5</td>
            <td>H</td>
          </tr>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td>5</td>
            <td>H</td>
          </tr>
          <tr>
            <td class="">Tiếng việt</td>
            <td class="ps-20">Đọc to, rõ ràng hơn so với đầu năm, chữ viết đẹp, rõ nét</td>
            <td>5</td>
            <td>H</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
