<div class="card card-flush shadow-sm p-0 h-full p-10">
  <div class="d-flex justify-content-end">
    <app-button 
      [text]="'Buổi sáng'" 
      [backgroundColor]="tabSelect == 1 ? 'bg-color-azure' : 'bg-color-white-smoke'" 
      [color]="tabSelect == 1 ? 'text-color-white' : 'text-color-black'"
      class="me-5"
      (onClick)="onChangeSelect(1)"
     ></app-button>
    <app-button 
      [text]="'Buổi chiều'" 
      [backgroundColor]="tabSelect == 2 ? 'bg-color-azure' : 'bg-color-white-smoke'" 
      [color]="tabSelect == 2 ? 'text-color-white' : 'text-color-black'"
      (onClick)="onChangeSelect(2)"
    ></app-button>
  </div>
  <h3>Điểm danh</h3>

  <div class="d-flex justify-content-between mb-5">
    <p>
      <span>Số lượng học sinh: <span class="text-color-azure fw-700">{{dataList?.total}} học sinh</span></span> |
      <span>Số học sinh nghỉ học: <span class="text-color-red fw-700">{{dataList?.total_absent}} học sinh</span></span> |
      <span>Số học sinh đi muộn: <span class="text-color-red fw-700">{{dataList?.total_late}} học sinh</span></span> |
      <span>Số học sinh có mặt: <span class="text-color-green fw-700">{{dataList?.total_present}} học sinh</span></span>
    </p>
    <div class="d-flex">
      <app-single-date-picker class="me-4" (dataTimeOutput)="onSearchDate($event)" [currentDate]="dateTimestampNow"></app-single-date-picker>
    </div>
  </div>

  <div class="table table-responsive" *ngIf="tabSelect == 1">
    <table class="table table-custom">
      <thead>
        <tr>
          <th>STT</th>
          <th>Họ tên</th>
          <th>Ngày sinh</th>
          <th>Ngày điểm danh</th>
          <th>Môn học</th>
          <th>Thứ</th>
          <th>Thời gian</th>
          <th>Giáo viên</th>
          <th>Ghi chú</th>
          <th class="w-10">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
       <ng-container *ngIf="dataList?.data?.[0]?.morning_timetable?.length">
        <ng-container *ngFor="let item of dataList?.data, let i = index">
          <tr *ngFor="let item of dataList?.data, let i = index">
            <td [rowSpan]="item.morning_timetable?.length + 1">{{i+1}}</td>
            <td [rowSpan]="item.morning_timetable?.length + 1">{{dataList?.student_name}} - {{dataList?.code}} </td>
            <td [rowSpan]="item.morning_timetable?.length + 1">{{dataList?.dob}}</td>
            <td [rowSpan]="item.morning_timetable?.length + 1">{{item.date | formatTime}}</td>
            <ng-container >
              <td>
                {{item.morning_timetable[0].subject}}
              </td>
              <td class="">
                <div appStatusDayOfWeek [statusValue]="item.morning_timetable[0].day"></div>
              </td>
              <td class="">
                Tiết {{item.morning_timetable[0].period}} ({{item.morning_timetable[0].from_time}} - {{item.morning_timetable[0].to_time}})
              </td>
              <td class="">
                {{item.morning_timetable[0].teacher_name}} <br/>
                {{item.morning_timetable[0].teacher_phone}}
              </td>
              <td class="">
                {{item.morning_timetable[0].note}} <br/>
              </td>
              <td class="">
                <div appStatusStudentAttendance [statusValue]="item.morning_timetable[0].status"></div>
              </td>
            </ng-container>
          </tr>
          <ng-container *ngIf="item.morning_timetable?.length > 1">
            <tr *ngFor="let history of item.morning_timetable, let i = index">
              <ng-container *ngIf="i > 0">
                <td>
                  {{history.subject}}
                </td>
                <td class="">
                  <div appStatusDayOfWeek [statusValue]="history.day"></div>
                </td>
                <td class="">
                  Tiết {{history.period}} ({{history.from_time}} - {{history.to_time}})
                </td>
                <td class="">
                  {{history.teacher_name}} <br/>
                  {{history.teacher_phone}}
                </td>
                <td class="">
                  {{history.note}} <br/>
                </td>
                <td class="">
                  <div appStatusStudentAttendance [statusValue]="history.status"></div>
                </td>
              </ng-container>
            </tr>
          </ng-container>
        </ng-container>
       </ng-container>
      </tbody>
    </table>

    <app-no-data *ngIf="!dataList?.data?.[0]?.morning_timetable?.length"></app-no-data>
  </div>

  <div class="table table-responsive" *ngIf="tabSelect == 2">
    <table class="table table-custom">
      <thead>
        <tr>
          <th>STT</th>
          <th>Họ tên</th>
          <th>Ngày sinh</th>
          <th>Ngày điểm danh</th>
          <th>Môn học</th>
          <th>Thứ</th>
          <th>Thời gian</th>
          <th>Giáo viên</th>
          <th>Ghi chú</th>
          <th class="w-10">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="dataList?.data?.[0]?.afternoon_timetable?.length">
            <ng-container *ngFor="let item of dataList?.data, let i = index">
              <tr *ngFor="let item of dataList?.data, let i = index">
                <td [rowSpan]="item.afternoon_timetable?.length + 1">{{i+1}}</td>
                <td [rowSpan]="item.afternoon_timetable?.length + 1">{{dataList?.student_name}} - {{dataList?.code}} </td>
                <td [rowSpan]="item.afternoon_timetable?.length + 1">{{dataList?.dob}}</td>
                <td [rowSpan]="item.afternoon_timetable?.length + 1">{{item.date | formatTime}}</td>
                <ng-container >
                  <td>
                    {{item.afternoon_timetable[0].subject}}
                  </td>
                  <td class="">
                    <div appStatusDayOfWeek [statusValue]="item.afternoon_timetable[0].day"></div>
                  </td>
                  <td class="">
                    Tiết {{item.afternoon_timetable[0].period}} ({{item.afternoon_timetable[0].from_time}} - {{item.afternoon_timetable[0].to_time}})
                  </td>
                  <td class="">
                    {{item.afternoon_timetable[0].teacher_name}} <br/>
                    {{item.afternoon_timetable[0].teacher_phone}}
                  </td>
                  <td class="">
                    {{item.afternoon_timetable[0].note}} <br/>
                  </td>
                  <td class="">
                    <div appStatusStudentAttendance [statusValue]="item.afternoon_timetable[0].status"></div>
                  </td>
                </ng-container>
              </tr>
              <ng-container *ngIf="item.afternoon_timetable?.length > 1">
                <tr *ngFor="let history of item.afternoon_timetable, let i = index">
                  <ng-container *ngIf="i > 0">
                    <td>
                      {{history.subject}}
                    </td>
                    <td class="">
                      <div appStatusDayOfWeek [statusValue]="history.day"></div>
                    </td>
                    <td class="">
                      Tiết {{history.period}} ({{history.from_time}} - {{history.to_time}})
                    </td>
                    <td class="">
                      {{history.teacher_name}} <br/>
                      {{history.teacher_phone}}
                    </td>
                    <td class="">
                      {{history.note}} <br/>
                    </td>
                    <td class="">
                      <div appStatusStudentAttendance [statusValue]="history.status"></div>
                    </td>
                  </ng-container>
                </tr>
              </ng-container>
            </ng-container>
           </ng-container>
      </tbody>
    </table>

    <app-no-data *ngIf="!dataList?.data?.[0]?.afternoon_timetable?.length"></app-no-data>
  </div>
</div>
