<div class="card card-flush shadow-sm p-0 h-full p-10">
  <div class="d-flex justify-content-end">
    <app-button 
      [text]="'Buổi sáng'" 
      [backgroundColor]="tabSelect == 1 ? 'bg-color-azure' : 'bg-color-white-smoke'" 
      [color]="tabSelect == 1 ? 'text-color-white' : 'text-color-black'"
      class="me-5"
      (onClick)="onChangeSelect(1)"
     ></app-button>
    <app-button 
      [text]="'Buổi chiều'" 
      [backgroundColor]="tabSelect == 2 ? 'bg-color-azure' : 'bg-color-white-smoke'" 
      [color]="tabSelect == 2 ? 'text-color-white' : 'text-color-black'"
      (onClick)="onChangeSelect(2)"
    ></app-button>
  </div>
  <h3>Điểm danh</h3>

  <div class="d-flex justify-content-between">
    <p>
      <span>Số lượng học sinh: <span class="text-color-azure fw-700">{{dataList?.total}} học sinh</span></span> |
      <span>Số học sinh nghỉ học: <span class="text-color-red fw-700">{{dataList?.total_absent}} học sinh</span></span> |
      <span>Số học sinh đi muộn: <span class="text-color-red fw-700">{{dataList?.total_late}} học sinh</span></span> |
      <span>Số học sinh có mặt: <span class="text-color-green fw-700">{{dataList?.total_present}} học sinh</span></span>
    </p>
    <!-- <div class="d-flex">
      <app-input-search [width]="'w-250px'"></app-input-search>
    </div> -->
  </div>

  <div class="table table-responsive" *ngIf="tabSelect == 1">
    <table class="table table-custom">
      <thead>
        <tr>
          <th>STT</th>
          <th>Họ tên</th>
          <th>Ngày sinh</th>
          <th>Ngày điểm danh</th>
          <th>Môn học</th>
          <th>Thứ</th>
          <th>Thời gian</th>
          <th>Giáo viên</th>
          <th class="w-10">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
       <ng-container *ngIf="dataList?.data?.[0]?.morning_timetable?.length">
        <tr *ngFor="let item of dataList?.data, let i = index">
          <td>{{i+1}}</td>
          <td>{{dataList?.student_name}} - {{dataList?.code}} </td>
          <td>{{dataList?.dob}}</td>
          <td>{{item.date | formatTime}}</td>
          <ng-container *ngFor="let history of item.morning_timetable">
            <td>
              {{history.subject}}
            </td>
            <td class="">
              <div appStatusDayOfWeek [statusValue]="history.day"></div>
            </td>
            <td class="">
              Tiết {{history.period}} ({{history.from_time}} - {{history.to_time}})
            </td>
            <td class="">
              {{history.teacher_name}} <br/>
              {{history.teacher_phone}}
            </td>
            <td class="">
              <div appStatusStudentAttendance [statusValue]="history.status"></div>
            </td>
          </ng-container>
        </tr>
       </ng-container>
      </tbody>
    </table>

    <app-no-data *ngIf="!dataList?.data?.[0]?.morning_timetable?.length"></app-no-data>
  </div>

  <div class="table table-responsive" *ngIf="tabSelect == 2">
    <table class="table table-custom">
      <thead>
        <tr>
          <th>STT</th>
          <th>Họ tên</th>
          <th>Ngày sinh</th>
          <th>Ngày điểm danh</th>
          <th>Môn học</th>
          <th>Thứ</th>
          <th>Thời gian</th>
          <th>Giáo viên</th>
          <th class="w-10">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="dataList?.data?.[0]?.afternoon_timetable?.length">
          <tr *ngFor="let item of dataList?.data, let i = index">
            <td>{{i+1}}</td>
            <td>{{dataList?.student_name}} - {{dataList?.code}} </td>
            <td>{{dataList?.dob}}</td>
            <td>{{item.date | formatTime}}</td>
            <ng-container *ngFor="let history of item.afternoon_timetable">
              <td>
                {{history.subject}}
              </td>
              <td class="">
                <div appStatusDayOfWeek [statusValue]="history.day"></div>
              </td>
              <td class="">
                Tiết {{history.period}} ({{history.from_time}} - {{history.to_time}})
              </td>
              <td class="">
                {{history.teacher_name}} <br/>
                {{history.teacher_phone}}
              </td>
              <td class="">
                <div appStatusStudentAttendance [statusValue]="history.status"></div>
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <app-no-data *ngIf="!dataList?.data?.[0]?.afternoon_timetable?.length"></app-no-data>
  </div>
</div>
