<div class="
    p-10
    d-flex
    flex-column flex-column-fluid
    bgi-position-y-bottom
    position-x-center
    bgi-no-repeat bgi-size-cover bgi-attachment-fixed h-full
  " style="background-image: url('./assets/images/png/bus.png')"
    *transloco="let t; scope: 'auth'">
  <!--begin::Content-->
  <div class="d-flex flex-center flex-column flex-column-fluid pb-lg-20 position-relative">
    <!--begin::Change language -->
    <!-- <select name="change-language" id="change-language" class="so-select select-language"
      [(ngModel)]="lang" (change)="changeLanguage()">
      <option value="en">
        <span>
          <img src="assets/images/png/flat-en.png" alt="">
          Tiếng Anh
        </span>
      </option>
      <option value="vi">
        <span>
          <img src="assets/images/png/flat-en.png" alt="">
          Tiếng Việt
        </span>
      </option>
    </select> -->
    <!--end::Change language -->
    <!--begin::Content body-->
    <div class="w-lg-500px bg-white rounded shadow-sm p-10 p-lg-15 mx-auto">
      <!--begin::Form-->
      <form class="form w-100 form-login-SO" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form"
        (ngSubmit)="submit()">
        <!--begin::Heading-->
        <div class="text-center mb-10 d-flex algin-items-center mb-3 so-form-heading">
          <div class="logo">
            <!-- <img src="assets/images/png/auth/KO.png" alt=""> -->
          </div>
          <!-- <h1 class="form-title d-flex align-items-center flex-grow-1 mb-0 mx-3">{{t('auth.system')}} &nbsp;<a
              routerLink="/auth/login" class="link-primary fw-bolder">KidsOnline</a></h1> -->
        </div>
        <!--end::Heading-->

        <!-- begin::Alert info-->
        <ng-container *ngIf="!hasError">
          <div class="mb-8 mt-4">
            <div class="text-danger err-login">
              <span class="icon-warming">
                <img src="assets/images/svg/icon-warming.svg" alt="">
              </span>
              <span>{{dataResponse?.msg}}</span>
            </div>
          </div>
        </ng-container>
        <!-- end::Alert info-->

        <!--begin::Form group-->
        <div class="fv-row mb-10">
          <label class="form-label fs-13 fw-bolder text-dark">Tên đăng nhập</label>
          <input class="form-control form-control-lg form-control-solid fs-14" type="text" name="username"
            formControlName="username" autocomplete="off" placeholder="Tên đăng nhập" />
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Tên đăng nhập không được để trống',
            control: loginForm.controls['username']
          }"></ng-container>
        </div>
        <!--end::Form group-->

        <!--begin::Form group-->
        <div class="fv-row mb-10">
          <div class="d-flex justify-content-between mt-n5">
            <div class="d-flex flex-stack mb-2">
              <label class="form-label fw-bolder text-dark fs-13 mb-0">Mật khẩu</label>
            </div>
          </div>

          <div class="so-input-password">
            <input class="form-control form-control-lg form-control-solid fs-14"
              type="{{isShowPassword ? 'text' : 'password'}}" name="password" autocomplete="off"
              formControlName="password" placeholder="mật khẩu" />
            <span (click)="showPassword()">
              <img src="{{isShowPassword ? 'assets/images/svg/eye_show.svg': 'assets/images/svg/eye_hide.svg'}}" alt="">
            </span>
          </div>

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Mật khẩu không được để trống',
          control: loginForm.controls['password']
        }"></ng-container>
        <div class=" recaptcha-brand">
          This site is protected by reCAPTCHA and the Google
          <a href="https://policies.google.com/privacy">Privacy Policy</a> and
          <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </div>

        </div>
        <!--end::Form group-->
        <!-- begin:: remember password -->
        <!-- <div class="d-flex justify-content-between fv-row mb-12">
          <div>
            <nz-switch [(ngModel)]="rememberPassword" [ngModelOptions]="{standalone: true}" name="remember"></nz-switch>
            <span class="fs-14" [style.margin-left]="'5px'">{{t('auth.rememberLogin')}}</span>
          </div>
          <a routerLink="/auth/forgot-password" class="link-primary fs-14 fw-bolder" id="kt_login_forgot"
            [style.margin-left]="'5px'">
            {{t('auth.forgotPassword')}}
          </a>
        </div> -->
        <!-- end:: remember password-->

        <!--begin::Action-->
        <div class="d-flex align-items-center justify-content-center fv-row mb-12 action">
          <div class="auth-provider d-flex align-items-center d-none">
            <span class="fs-13">{{t('auth.loginBy')}}:</span>
            <div class="icon-auth">
              <a href="login">
                <img src="assets/images/png/auth/google-icon.png" alt="">
              </a>
            </div>
            <div class="icon-auth">
              <a href="login">
                <img src="assets/images/png/auth/microsoft-icon.png" alt="">Y
              </a>
            </div>
            <div class="icon-auth">
              <a href="login">
                <img src="assets/images/png/auth/ldap-icon.png" alt="">
              </a>
            </div>
            <div class="icon-auth">
              <a href="login">
                <img src="assets/images/png/auth/qr-code-icon.png" alt="">
              </a>
            </div>
          </div>
          <button class="bnt btn-primary so-btn-login">
            Đăng nhập
          </button>
        </div>
        <!--end::Action-->
      </form>
      <!--end::Form-->

      <ng-template #formError let-control="control" let-message="message" let-validation="validation">
        <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
          <div class="fv-plugins-message-container mt-3">
            <span role="alert">
              {{ message }}
            </span>
          </div>
        </ng-container>
      </ng-template>

      <!-- begin:: download app -->

    </div>
  </div>
</div>
