<div class="card card-flush shadow-sm p-0 h-full p-10">
  <h3>Danh sách công nhân viên chức</h3>

  <div class="d-flex justify-content-between align-items-center mb-5">
    <p>Số lượng công nhân viên chức: <span class="text-color-blue-light">{{dataList?.total}}</span> </p>
    <div class="d-flex">
      <app-input-search [width]="'w-250px'" (valueChange)="onSearch($event)"></app-input-search>
      <app-button [text]="'Thêm mới'"
      (onClick)="create()"
      class="ms-4"
      [startIconName]="iconSvg.plus"
      [backgroundColor]="'bg-color-greenish-teal'"
      ></app-button>
    </div>
  </div>

  <div class="table table-responsive">
    <table class="table table-custom">
      <thead class="bg-color-blue-dark text-color-white">
        <tr>
          <th class="w-5 fw-700">STT</th>
          <th class="fw-700">Thông tin giáo viên</th>
          <th class="fw-700">Liên hệ</th>
          <th class="text-center fw-700">Lớp chủ nhiệm</th>
          <th class="text-center fw-700">Chức vụ</th>
          <th class="text-center fw-700">Trạng thái</th>
          <th class="text-center fw-700">Ngày sinh</th>
          <th class="text-center fw-700">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataList?.data, let i = index">
          <td>
            {{(pageIndex-1)*pageSize + i + 1}}
          </td>
          <td>
            <span class="fw-700">{{item.userName}}</span> <br/>
            <span class="fw-700">Mã: {{item.userCode}}</span>
          </td>
          <td>
            <span class="fw-700">{{item.userEmail}}</span> <br/>
            <span class="fw-700">SĐT: {{item.userPhone}}</span>
          </td>
          <td class="text-center">
            {{item.userMainClassName}}
          </td>
          <td class="text-center">
            <div appAccessType [statusValue]="item.userAccessType"></div>
            <!-- {{item.userAccessType}} -->
          </td>
          <td class="text-center">
            <div appStatusActive [statusValue]="item.userStatus" class="d-flex justify-content-center"></div>
          </td>
          <td class="text-center">
            {{item.userDob | formatTime}}
          </td>
          <td class="text-center">
            <app-context-menu [text]="iconSvg.three_horizol_dot_icon" [option]="[
              {
                svgIcon: iconSvg.edit,
                label: 'Sửa thông tin',
                type: '2',
                action: item.id,
                permission: '',
                data: item
              },
              {
                svgIcon: iconSvg.lock,
                label: 'Đổi mật khẩu',
                type: '3',
                action: item.id,
                permission: '',
                data: item
              },
            ]" (action)="handleAction($event)"></app-context-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <app-no-data *ngIf="!collectionSize"></app-no-data>
    <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
      *ngIf="collectionSize > sizeOption[0]" [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
    </app-pagination>
  </div>
</div>
