<form action="" [formGroup]="formGroup" *transloco="let t; scope: 'role'">
  <div class="modal-header">
    <h5 class="title-modal-global text-center">{{dataModal?.titleModal}}</h5>
    <button type="button" class="close modal-btn-close" data-dismiss="modal" (click)="closeModal(false)"
      name="icon-close" [hidden]="dataModal?.isHiddenBtnClose">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-normal-global">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label  class="fw-600">Tên lớp học <span class="text-danger">*</span></label>
          <app-input
          [placeholder]="'Tên lớp học'"
          [formGroupInput]="formGroup"
          [formControlNameInput]="'name'"
          [validateForm]="validationMessages.name"
          ></app-input>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label  class="fw-600">Niên khóa<span class="text-danger">*</span></label>
          <app-select
          [options]="optionAcacdemic"
          [formGroupInput]="formGroup"
          [formControlNameInput]="'academic'"
          [validateForm]="validationMessages.academic"
          [disabled]="dataFromParent.nameForm == 'update'"
          ></app-select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6" *ngIf="dataFromParent.nameForm != 'update'">
        <div class="form-group so-form-group">
          <label  class="fw-600">Chủ nhiệm <span class="text-danger">*</span></label>
          <app-select
          [options]="optionMainTeacher"
          [formGroupInput]="formGroup"
          [formControlNameInput]="'mainTeacher'"
          [validateForm]="validationMessages.mainTeacher"
          ></app-select>
        </div>
      </div>
      <div class="{{dataFromParent.nameForm == 'update' ? 'col-12' : 'col-6'}} mb-6" *ngIf="dataFromParent.nameForm != 'update'">
          <div class="form-group so-form-group">
            <label  class="fw-600">Khối học<span class="text-danger">*</span></label>
            <app-select
            [options]="optionGrades"
            [formGroupInput]="formGroup"
            [formControlNameInput]="'grade'"
            [validateForm]="validationMessages.grade"
            ></app-select>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label  class="fw-600">Năm học <span class="text-danger">*</span></label>
          <app-select
          [options]="optionSchoolYear"
          [formGroupInput]="formGroup"
          [formControlNameInput]="'schoolYear'"
          [validateForm]="validationMessages.schoolYear"
          [disabled]="dataFromParent.nameForm == 'update'"
           ></app-select>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label  class="fw-600">Trạng thái<span class="text-danger">*</span></label>
            <app-select
            [options]="optionStatus"
            [formGroupInput]="formGroup"
            [formControlNameInput]="'status'"
            [validateForm]="validationMessages.status"
            ></app-select>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <app-button [width]="'w-80px'" [text]="'Hủy'" [backgroundColor]="'bg-color-white-lilac'" [color]="'text-color-river-bed'" (click)="closeModal(false)"></app-button>
    <app-button [width]="'w-80px'" [text]="'Lưu'" [backgroundColor]="'bg-color-azure'" (click)="submit(formGroup.value)"></app-button>
  </div>
</form>

