.list-icon{
    width: 100% !important;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .item-icon{
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon{
            cursor: pointer;
            width: 18px;
            height: 16px;
        }
    }
}