<div class="card card-flush shadow-sm p-0 h-full p-10">
  <h3>Thời khóa biểu</h3>

  <div class="table table-responsive">
    <h3>Lịch sáng</h3>
    <table class="table table-custom">
      <thead>
        <tr class="text-color-white text-color-blue-dark">
          <th class=w-5>Tiết</th>
          <th>Thứ 2</th>
          <th>Thứ 3</th>
          <th>Thứ 4</th>
          <th>Thứ 5</th>
          <th>Thứ 6</th>
          <th>Thứ 7</th>
          <th>Chủ nhật</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tiết 1</td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','hai',1)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','ba',1)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','tu',1)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','nam',1)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','sau',1)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','bay',1)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','chunhat',1)"></app-select>
          </td>
        </tr>
        <tr>
          <td>Tiết 2</td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','hai',2)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','ba',2)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','tu',2)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','nam',2)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','sau',2)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','bay',2)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','chunhat',2)"></app-select>
          </td>
        </tr>
        <tr>
          <td>Tiết 3</td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','hai',3)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','ba',3)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','tu',3)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','nam',3)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','sau',3)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','bay',3)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','chunhat',3)"></app-select>
          </td>
        </tr>
        <tr>
          <td>Tiết 4</td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','hai',4)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','ba',4)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','tu',4)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','nam',4)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','sau',4)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','bay',4)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','chunhat',4)"></app-select>
          </td>
        </tr>
        <tr>
          <td>Tiết 5</td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','hai',5)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','ba',5)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','tu',5)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','nam',5)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','sau',5)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','bay',5)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','chunhat',5)"></app-select>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="mt-10"></div>
    <h3>Lịch chiều</h3>
    <table class="table table-custom">
      <thead>
        <tr class="text-color-white text-color-blue-dark">
          <th class=w-5>Tiết</th>
          <th>Thứ 2</th>
          <th>Thứ 3</th>
          <th>Thứ 4</th>
          <th>Thứ 5</th>
          <th>Thứ 6</th>
          <th>Thứ 7</th>
          <th>Chủ nhật</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tiết 1</td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','hai',1)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','ba',1)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','tu',1)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','nam',1)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','sau',1)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','bay',1)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','chunhat',1)"></app-select>
          </td>
        </tr>
        <tr>
          <td>Tiết 2</td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','hai',2)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','ba',2)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','tu',2)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','nam',2)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','sau',2)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','bay',2)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','chunhat',2)"></app-select>
          </td>
        </tr>
        <tr>
          <td>Tiết 3</td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','hai',3)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','ba',3)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','tu',3)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','nam',3)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','sau',3)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','bay',3)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','chunhat',3)"></app-select>
          </td>
        </tr>
        <tr>
          <td>Tiết 4</td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','hai',4)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','ba',4)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','tu',4)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','nam',4)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','sau',4)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','bay',4)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','chunhat',4)"></app-select>
          </td>
        </tr>
        <tr>
          <td>Tiết 5</td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','hai',5)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','ba',5)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','tu',5)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','nam',5)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','sau',5)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','bay',5)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','chunhat',5)"></app-select>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex align-items-center justify-content-end">
      <app-button [text]="'Lưu'" [width]="'w-120px'" [height]="'h-30px'" (onClick)="onClickSubmit()"></app-button>
    </div>
  </div>
</div>
