<div class="card card-flush shadow-sm p-0 h-full p-10">
  <h3>Thời khóa biểu</h3>

  <div class="table table-responsive">
    <h3>Lịch sáng</h3>
    <table class="table table-custom">
      <thead>
        <tr class="text-color-white text-color-blue-dark">
          <th class=w-5>Tiết</th>
          <th>Thứ 2</th>
          <th>Thứ 3</th>
          <th>Thứ 4</th>
          <th>Thứ 5</th>
          <th>Thứ 6</th>
          <th>Thứ 7</th>
          <th>Chủ nhật</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tiết 1</td>
          <td>
            <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','hai',1)"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
        </tr>
        <tr>
          <td>Tiết 2</td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
        </tr>
        <tr>
          <td>Tiết 3</td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
        </tr>
        <tr>
          <td>Tiết 4</td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
        </tr>
        <tr>
          <td>Tiết 5</td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="mt-10"></div>
    <h3>Lịch chiều</h3>
    <table class="table table-custom">
      <thead>
        <tr class="text-color-white text-color-blue-dark">
          <th class=w-5>Tiết</th>
          <th>Thứ 2</th>
          <th>Thứ 3</th>
          <th>Thứ 4</th>
          <th>Thứ 5</th>
          <th>Thứ 6</th>
          <th>Thứ 7</th>
          <th>Chủ nhật</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tiết 1</td>
          <td>
            <app-select
            [options]="optionSubject"
            (changeSelect)="onChangeDataSubmit($event,'chieu','hai',1)"
            ></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
        </tr>
        <tr>
          <td>Tiết 2</td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
        </tr>
        <tr>
          <td>Tiết 3</td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
        </tr>
        <tr>
          <td>Tiết 4</td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
        </tr>
        <tr>
          <td>Tiết 5</td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
          <td>
            <app-select [options]="optionSubject"></app-select>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex align-items-center justify-content-end">
      <app-button [text]="'Lưu'" [width]="'w-120px'" [height]="'h-30px'"></app-button>
    </div>
  </div>
</div>
