<div class="card card-flush shadow-sm p-0 h-full p-10">
  <h3>Thời khóa biểu</h3>

  <app-button-back [routerLink]="'/staff/class-study'"></app-button-back>
  <br/>
  <div class="table table-responsive">
    <h3>Lịch sáng</h3>
    <table class="table table-custom">
      <thead>
        <tr class="text-color-white text-color-blue-dark">
          <th class=w-5>Tiết</th>
          <th>Thứ 2</th>
          <th>Thứ 3</th>
          <th>Thứ 4</th>
          <th>Thứ 5</th>
          <th>Thứ 6</th>
          <th>Thứ 7</th>
          <th>Chủ nhật</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="accessType!=3">
          <tr>
            <td>Tiết 1</td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','hai',1)" [selected_id]="dataOptionsChecked?.sang?.thu2[0]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','ba',1)" [selected_id]="dataOptionsChecked?.sang?.thu3[0]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','tu',1)" [selected_id]="dataOptionsChecked?.sang?.thu4[0]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','nam',1)" [selected_id]="dataOptionsChecked?.sang?.thu5[0]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','sau',1)" [selected_id]="dataOptionsChecked?.sang?.thu6[0]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','bay',1)" [selected_id]="dataOptionsChecked?.sang?.thu7[0]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','chunhat',1)" [selected_id]="dataOptionsChecked?.sang?.chunhat[0]?.id"></app-select>
            </td>
          </tr>
          <tr>
            <td>Tiết 2</td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','hai',2)" [selected_id]="dataOptionsChecked?.sang?.thu2[1]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','ba',2)" [selected_id]="dataOptionsChecked?.sang?.thu3[1]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','tu',2)" [selected_id]="dataOptionsChecked?.sang?.thu4[1]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','nam',2)" [selected_id]="dataOptionsChecked?.sang?.thu5[1]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','sau',2)" [selected_id]="dataOptionsChecked?.sang?.thu6[1]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','bay',2)" [selected_id]="dataOptionsChecked?.sang?.thu7[1]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','chunhat',2)" [selected_id]="dataOptionsChecked?.sang?.chunhat[1]?.id"></app-select>
            </td>
          </tr>
          <tr>
            <td>Tiết 3</td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','hai',3)" [selected_id]="dataOptionsChecked?.sang?.thu2[2]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','ba',3)" [selected_id]="dataOptionsChecked?.sang?.thu3[2]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','tu',3)" [selected_id]="dataOptionsChecked?.sang?.thu4[2]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','nam',3)" [selected_id]="dataOptionsChecked?.sang?.thu5[2]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','sau',3)" [selected_id]="dataOptionsChecked?.sang?.thu6[2]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','bay',3)" [selected_id]="dataOptionsChecked?.sang?.thu7[2]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','chunhat',3)" [selected_id]="dataOptionsChecked?.sang?.chunhat[2]?.id"></app-select>
            </td>
          </tr>
          <tr>
            <td>Tiết 4</td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','hai',4)" [selected_id]="dataOptionsChecked?.sang?.thu2[3]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','ba',4)" [selected_id]="dataOptionsChecked?.sang?.thu3[3]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','tu',4)" [selected_id]="dataOptionsChecked?.sang?.thu4[3]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','nam',4)" [selected_id]="dataOptionsChecked?.sang?.thu5[3]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','sau',4)" [selected_id]="dataOptionsChecked?.sang?.thu6[3]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','bay',4)" [selected_id]="dataOptionsChecked?.sang?.thu7[3]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','chunhat',4)" [selected_id]="dataOptionsChecked?.sang?.chunhat[3]?.id"></app-select>
            </td>
          </tr>
          <tr>
            <td>Tiết 5</td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','hai',5)" [selected_id]="dataOptionsChecked?.sang?.thu2[4]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','ba',5)" [selected_id]="dataOptionsChecked?.sang?.thu3[4]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','tu',5)" [selected_id]="dataOptionsChecked?.sang?.thu4[4]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','nam',5)" [selected_id]="dataOptionsChecked?.sang?.thu5[4]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','sau',5)" [selected_id]="dataOptionsChecked?.sang?.thu6[4]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','bay',5)" [selected_id]="dataOptionsChecked?.sang?.thu7[4]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'sang','chunhat',5)" [selected_id]="dataOptionsChecked?.sang?.chunhat[4]?.id"></app-select>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="accessType==3">
            <tr>
              <td>Tiết 1</td>
              <td>
                {{dataOptionsChecked?.sang?.thu2[0]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu3[0]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu4[0]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu5[0]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu6[0]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu7[0]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.chunhat[0]?.mon}}
              </td>
            </tr>
            <tr>
              <td>Tiết 2</td>
              <td>
                {{dataOptionsChecked?.sang?.thu2[1]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu3[1]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu4[1]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu5[1]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu6[1]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu7[1]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.chunhat[1]?.mon}}
              </td>
            </tr>
            <tr>
              <td>Tiết 3</td>
              <td>
                {{dataOptionsChecked?.sang?.thu2[2]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu3[2]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu4[2]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu5[2]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu6[2]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu7[2]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.chunhat[2]?.mon}}
              </td>
            </tr>
            <tr>
              <td>Tiết 4</td>
              <td>
                {{dataOptionsChecked?.sang?.thu2[3]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu3[3]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu4[3]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu5[3]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu6[3]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu7[3]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.chunhat[3]?.mon}}
              </td>
            </tr>
            <tr>
              <td>Tiết 5</td>
              <td>
                {{dataOptionsChecked?.sang?.thu2[4]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu3[4]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu4[4]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu5[4]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu6[4]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.thu7[4]?.mon}}
              </td>
              <td>
                {{dataOptionsChecked?.sang?.chunhat[4]?.mon}}
              </td>
            </tr>
          </ng-container>
      </tbody>
    </table>

    <div class="mt-10"></div>
    <h3>Lịch chiều</h3>
    <table class="table table-custom">
      <thead>
        <tr class="text-color-white text-color-blue-dark">
          <th class=w-5>Tiết</th>
          <th>Thứ 2</th>
          <th>Thứ 3</th>
          <th>Thứ 4</th>
          <th>Thứ 5</th>
          <th>Thứ 6</th>
          <th>Thứ 7</th>
          <th>Chủ nhật</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="accessType!=3">
          <tr>
            <td>Tiết 1</td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','hai',1)" [selected_id]="dataOptionsChecked?.chieu?.thu2[0]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','ba',1)" [selected_id]="dataOptionsChecked?.chieu?.thu3[0]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','tu',1)" [selected_id]="dataOptionsChecked?.chieu?.thu4[0]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','nam',1)" [selected_id]="dataOptionsChecked?.chieu?.thu5[0]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','sau',1)" [selected_id]="dataOptionsChecked?.chieu?.thu6[0]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','bay',1)" [selected_id]="dataOptionsChecked?.chieu?.thu7[0]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','chunhat',1)" [selected_id]="dataOptionsChecked?.chieu?.chunhat[0]?.id"></app-select>
            </td>
          </tr>
          <tr>
            <td>Tiết 2</td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','hai',2)" [selected_id]="dataOptionsChecked?.chieu?.thu2[1]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','ba',2)" [selected_id]="dataOptionsChecked?.chieu?.thu3[1]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','tu',2)" [selected_id]="dataOptionsChecked?.chieu?.thu4[1]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','nam',2)" [selected_id]="dataOptionsChecked?.chieu?.thu5[1]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','sau',2)" [selected_id]="dataOptionsChecked?.chieu?.thu6[1]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','bay',2)" [selected_id]="dataOptionsChecked?.chieu?.thu7[1]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','chunhat',2)" [selected_id]="dataOptionsChecked?.chieu?.chunhat[1]?.id"></app-select>
            </td>
          </tr>
          <tr>
            <td>Tiết 3</td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','hai',3)" [selected_id]="dataOptionsChecked?.chieu?.thu2[2]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','ba',3)" [selected_id]="dataOptionsChecked?.chieu?.thu3[2]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','tu',3)" [selected_id]="dataOptionsChecked?.chieu?.thu4[2]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','nam',3)" [selected_id]="dataOptionsChecked?.chieu?.thu5[2]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','sau',3)" [selected_id]="dataOptionsChecked?.chieu?.thu6[2]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','bay',3)" [selected_id]="dataOptionsChecked?.chieu?.thu7[2]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','chunhat',3)" [selected_id]="dataOptionsChecked?.chieu?.chunhat[2]?.id"></app-select>
            </td>
          </tr>
          <tr>
            <td>Tiết 4</td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','hai',4)" [selected_id]="dataOptionsChecked?.chieu?.thu2[3]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','ba',4)" [selected_id]="dataOptionsChecked?.chieu?.thu3[3]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','tu',4)" [selected_id]="dataOptionsChecked?.chieu?.thu4[3]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','nam',4)" [selected_id]="dataOptionsChecked?.chieu?.thu5[3]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','sau',4)" [selected_id]="dataOptionsChecked?.chieu?.thu6[3]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','bay',4)" [selected_id]="dataOptionsChecked?.chieu?.thu7[3]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','chunhat',4)" [selected_id]="dataOptionsChecked?.chieu?.chunhat[3]?.id"></app-select>
            </td>
          </tr>
          <tr>
            <td>Tiết 5</td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','hai',5)" [selected_id]="dataOptionsChecked?.chieu?.thu2[4]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','ba',5)" [selected_id]="dataOptionsChecked?.chieu?.thu3[4]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','tu',5)" [selected_id]="dataOptionsChecked?.chieu?.thu4[4]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','nam',5)" [selected_id]="dataOptionsChecked?.chieu?.thu5[4]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','sau',5)" [selected_id]="dataOptionsChecked?.chieu?.thu6[4]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','bay',5)" [selected_id]="dataOptionsChecked?.chieu?.thu7[4]?.id"></app-select>
            </td>
            <td>
              <app-select [options]="optionSubject" (changeSelect)="onChangeDataSubmit($event,'chieu','chunhat',5)" [selected_id]="dataOptionsChecked?.chieu?.chunhat[4]?.id"></app-select>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="accessType==3">
          <tr>
            <td>Tiết 1</td>
            <td>
              {{dataOptionsChecked?.chieu?.thu2[0]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu3[0]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu4[0]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu5[0]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu6[0]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu7[0]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.chunhat[0]?.mon}}
            </td>
          </tr>
          <tr>
            <td>Tiết 2</td>
            <td>
              {{dataOptionsChecked?.chieu?.thu2[1]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu3[1]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu4[1]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu5[1]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu6[1]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu7[1]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.chunhat[1]?.mon}}
            </td>
          </tr>
          <tr>
            <td>Tiết 3</td>
            <td>
              {{dataOptionsChecked?.chieu?.thu2[2]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu3[2]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu4[2]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu5[2]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu6[2]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu7[2]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.chunhat[2]?.mon}}
            </td>
          </tr>
          <tr>
            <td>Tiết 4</td>
            <td>
              {{dataOptionsChecked?.chieu?.thu2[3]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu3[3]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu4[3]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu5[3]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu6[3]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu7[3]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.chunhat[3]?.mon}}
            </td>
          </tr>
          <tr>
            <td>Tiết 5</td>
            <td>
              {{dataOptionsChecked?.chieu?.thu2[4]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu3[4]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu4[4]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu5[4]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu6[4]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.thu7[4]?.mon}}
            </td>
            <td>
              {{dataOptionsChecked?.chieu?.chunhat[4]?.mon}}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <div class="d-flex align-items-center justify-content-end">
      <app-button [text]="'Lưu'" [width]="'w-120px'" [height]="'h-30px'" (onClick)="onClickSubmit()" *ngIf="accessType==1"></app-button>
    </div>
  </div>
</div>
