<form action="" [formGroup]="formGroup" *transloco="let t; scope: 'role'">
  <div class="modal-header">
    <h5 class="title-modal-global text-center">{{t(dataModal?.titleModal)}}</h5>
    <button type="button" class="close modal-btn-close" data-dismiss="modal" (click)="closeModal(false)"
      name="icon-close" [hidden]="dataModal?.isHiddenBtnClose">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-normal-global">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label  class="fw-600">Họ và tên <span class="text-danger">*</span></label>
          <app-input
            [placeholder]="t('enterName')"
            [formGroupInput]="formGroup"
            [formControlNameInput]="'name'"
            [validateForm]="validationMessages.name"
            [validateFormServer]="validationMessagesServer.name"
          ></app-input>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label  class="fw-600">Tên đăng nhập<span class="text-danger">*</span></label>
          <app-input
          [placeholder]="t('enterUsername')"
          [formGroupInput]="formGroup"
          [formControlNameInput]="'username'"
          [validateForm]="validationMessages.username"
          [disabled]="dataFromParent.nameForm == 'update'"
          ></app-input>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label  class="fw-600">Số điện thoại <span class="text-danger">*</span></label>
          <app-input
            [placeholder]="t('enterPhone')"
            [formGroupInput]="formGroup"
            [formControlNameInput]="'phone'"
            [validateForm]="validationMessages.phone"
          ></app-input>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label  class="fw-600">Email<span class="text-danger">*</span></label>
          <app-input
          [placeholder]="t('enterEmail')"
          [formGroupInput]="formGroup"
          [formControlNameInput]="'email'"
          [validateForm]="validationMessages.email"
          ></app-input>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="dataFromParent.nameForm != 'update'">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label  class="fw-600">Mạt khẩu <span class="text-danger">*</span></label>
          <app-input
          [type]="'password'"
          [placeholder]="t('enterPassword')"
          [formGroupInput]="formGroup"
          [formControlNameInput]="'password'"
          [validateForm]="validationMessages.password"
          ></app-input>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label  class="fw-600">Xác nhận mật khẩu<span class="text-danger">*</span></label>
          <app-input
          [type]="'password'"
          [placeholder]="t('enterConfirmPassword')"
          [formGroupInput]="formGroup"
          [formControlNameInput]="'confirm_password'"
          [validateForm]="validationMessages.confirm_password"
          ></app-input>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label  class="fw-600">Chức vụ<span class="text-danger">*</span></label>
          <app-select
          [options]="optionRoles"
          [formGroupInput]="formGroup"
          [formControlNameInput]="'role'"
          [validateForm]="validationMessages.role"
          ></app-select>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label  class="fw-600">Giới tính<span class="text-danger">*</span></label>
          <app-select
          [options]="optionGender"
          [formGroupInput]="formGroup"
          [formControlNameInput]="'gender'"
          [validateForm]="validationMessages.gender"
          ></app-select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label  class="fw-600">Chủ nhiệm</label>
          <app-select
          [options]="optionTeachers"
          [formGroupInput]="formGroup"
          [formControlNameInput]="'mainTeacher'"
          [validateForm]="validationMessages.name"
          ></app-select>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label class="fw-600">Ngày sinh</label>
          <app-single-form-date-picker
          [formControlNameInput]="'dob'"
          [formGroupInput]="formGroup"
          [maxDate]="timestampNow"
          ></app-single-form-date-picker>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label class="fw-600">Địa chỉ</label>
          <app-input
          [placeholder]="t('enterAddress')"
          [formGroupInput]="formGroup"
          [formControlNameInput]="'address'"
          ></app-input>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-6">
        <div class="form-group so-form-group">
          <label  class="fw-600">Hoạt động</label>
          <br/>
          <app-checkbox [formControlNameInput]="'active'" [formGroupInput]="formGroup"></app-checkbox>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <app-button [width]="'w-80px'" [text]="t(dataModal?.btnCancel)" [backgroundColor]="'bg-color-white-lilac'" [color]="'text-color-river-bed'" (click)="closeModal(false)"></app-button>
    <app-button [width]="'w-80px'" [text]="t(dataModal?.btnAccept)" [backgroundColor]="'bg-color-azure'" (click)="submit(formGroup.value)"></app-button>
  </div>
</form>

