.no-data{
    border: solid 1px var(--bs-zircon) !important;
    border-top: unset !important;
    font-style: italic !important;
  }
  
  .hide-border{
    border-left: unset !important;
    border-right: unset !important;
  }
  