<div class="card card-flush shadow-sm p-0 h-full p-10">
  <h3>Danh sách học sinh</h3>

  <div class="d-flex justify-content-between align-items-center mb-5">
    <p>Số lượng học sinh: <span class="text-color-azure">{{dataList?.total}} học sinh</span> </p>
    <div class="d-flex">
      <app-input-search [width]="'w-250px'" (valueChange)="onSearch($event)"></app-input-search>
      <app-button [text]="'Thêm mới'"
      (onClick)="create()"
      class="ms-4"
      [startIconName]="iconSvg.plus"
      [backgroundColor]="'bg-color-greenish-teal'"
      ></app-button>
    </div>
  </div>

  <div class="table table-responsive">
    <table class="table table-custom">
      <thead>
        <tr>
          <th class=w-5>STT</th>
          <th>Thông tin học sinh</th>
          <th>Lớp học</th>
          <th>Giới tính</th>
          <th>Niên khóa</th>
          <th>Trạng thái</th>
          <th>Phụ huynh</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataList?.data, let i = index">
          <td>{{i+1}}</td>
          <td>
            <span>{{item.fullname}}</span> <br/>
            <span>Mã: {{item.student_code}}</span>
          </td>
          <td>
            <span>{{item.class_name}}</span> <br/>
          </td>
          <td>
            <span>{{item.gender}}</span>
          </td>
          <td class="text-center">
            {{item.academic_year_name}}
          </td>
          <td class="text-center">
            {{item.status}}
          </td>
          <td class="text-center">
            {{item.parents?.name}}
          </td>
          <td class="text-center">
            <app-context-menu [text]="iconSvg.three_horizol_dot_icon" [option]="[
              {
                svgIcon: iconSvg.eye_show,
                label: 'Xem chi tiết',
                type: '1',
                action: item.id,
                permission: '',
                data: item
              },
              {
                svgIcon: iconSvg.edit,
                label: 'Sửa thông tin',
                type: '2',
                action: item.id,
                permission: '',
                data: item
              },
              {
                svgIcon: iconSvg.lock,
                label: 'Đổi mật khẩu',
                type: '3',
                action: item.id,
                permission: '',
                data: item
              },
            ]" (action)="handleAction($event)"></app-context-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <app-no-data *ngIf="!collectionSize"></app-no-data>
    <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
      *ngIf="collectionSize > sizeOption[0]" [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
    </app-pagination>
  </div>
</div>
